<div class="add-to-card" addtocart>
    <div class="add-to-card-size">
        {%- assign size_selector = ',S,M,KS,RS' | split:',' -%}
      {% for variant in product.variants %}
          {% if variant.available %}
              <div class="add-to-card-size__item">
                  <input type="radio" class="custom-checkbox" id="atc-button-{{size_selector[forloop.index]}}" name="atc-size-selector" price="{{variant.price | money}}" value="{{variant.id}}">
                  {%- assign label = variant.sku | split: ' ' | last -%}
                  <label for="{{variant.id}}">{{ label }}</label>
              </div>
          {%- endif -%}
      {%- endfor -%}
    </div>
    <button class="add-to-card btn_sp">Add to cart <span class="button-price"></span></button>
</div>