<div class="hover_bkgr_fricc custom_hide_pop">
  <span class="helper"></span>
  <div class="custom-size-img">
    {% if section.settings.title != blank %}
    <div class="heading-content">
    <div class="popupCloseButton"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/cross.png?v=1606136702"/></div>
    <div class="heading-text">
      <p>{{ section.settings.title }}</p>
    </div>
    </div>
    {% endif %}
    {% if section.settings.imagecart != blank %}
    <div class="image_pickerr">
      <img src="{{ section.settings.imagecart | img_url:'master'}}"/>
    </div>
    {% endif %}
    {% if section.settings.bg_image != blank or section.settings.sub_title != blank %}
    <div class="background-image_withtext" data-step="">
      <p class="subtext">{{ section.settings.sub_title }}</p>
      <img class="owl_img" src="{{ section.settings.bg_image | img_url:'500x500'}}"/>
      <ul class="slider_section">
        <li><div class="content_border content_border1"><span class="border-content">0%</span></div>
          <p class="numbers">1</p>
          <p class="type">puzzle</p>
        </li>
        <p class="tooltip"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/tooltip.png?v=1605185077"/></p>
        <p class="dots">....</p>
        <li><div class="content_border content_border2"><span class="border-content">10%</span></div>
          <p class="numbers">2</p>
          <p class="type">puzzles</p>
        </li>
        <p class="dots">....</p>
        <li><div class="content_border content_border3"><span class="border-content">15%</span></div>
          <p class="numbers">3</p>
          <p class="type">puzzles</p>
        </li>
        <p class="dots">....</p>
        <li><div class="content_border content_border4"><span class="border-content">20%</span></div>
          <p class="numbers">4</p>
          <p class="type">puzzles</p>
        </li>
      
      
      </ul>
    </div>
    {% endif %}
    {% if section.settings.pdp_cta_text != blank or section.settings.pdp_cta_text1 != blank %}
    <div class="buttons_left_right">
      <div class="left_button">
        <a href="{{section.settings.pdp_cta_link}}" class="btn">{{section.settings.pdp_cta_text}}</a>
      </div>
      <div class="right_button">
        
        <a href="{{section.settings.pdp_cta_link1}}" class="btn proceed_checkout">{{section.settings.pdp_cta_text1}}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>