{%- if settings.display_tag_month -%}
	{%- if  products.id == settings.tag_month_product.id or products.id == settings.tag_month_product1.id or products.id == settings.tag_month_product2.id -%}
		<div class="product__labels">
			<span class="product__label" style="background-color:{{settings.tag_month_color}}; color:{{settings.tag_month_text_color}};font-size:{{settings.tag_month_font_size}}px;text-align: {{settings.tag_month_alignment}};">{{ settings.tag_month_text }}</span>
		</div>
	{%- endif -%}
{%- else -%}
	{%- if products.tags.size > 0 -%}
		{%- for tag in products.tags  -%}
				{%- if tag == 'New' or tag == 'Bestseller' or tag == 'most-popular' or tag == 'sale' or tag == 'symbol 2022' -%}
					<div class="product__labels">
						<span class="product__label product__label--{{ tag | replace: " ", "-"}}">{{ tag }}</span>
					</div>
					{% break %}
				{%- endif -%}
		{% endfor %}
	{%- endif -%}
{%- endif -%}