{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="timer_adjustment {% if section.settings.sticky_button == 'show_timer' and section.settings.enable_sticky %}small--hide{% endif %}">

{% assign tg = 'show' %}
{% if settings.disable_timer_use_tag %}
  {% for tag in product.tags %}
    {% if "no-timer" == tag %}
    	{% assign tg = 'hide' %}
    {% endif %}
  {% endfor %}
{% endif %}

<div class="counter_box {{ tg }}">
  <input type="hidden" class="timer_time" value="{{ settings.enable_timer_stg_custom }}" />
  {% if section.settings.enable_timer_stg_on == 'enable_timer_stg_on' %}

 {% if settings.enable_timer_stg == 'enable_timer_custom' %}          

     {% if settings.enable_inventory_stock_number == "enable_stock_number_random" %}
     

      {% assign leftNumber='' %}
      <input type="hidden" id="stock_left_num" class="cookies_Left_number stock_left_num" value="" />

      {% else %}
     
      <input type="hidden" id="stock_left_num" class="cookies_Left_number stock_left_num" value="{{ leftNumber }}" />
  
    {% assign all_if = 0 %}
    {% assign total = 0 %}
    {% assign infinity = false %}
 
    {% for variant in product.variants %}

    {% if variant.inventory_management != 'shopify' %}  
    {% assign infinity = true %}
  	{% else %}
   	{% capture temp %}{{ total | plus: variant.inventory_quantity }}{% endcapture %}
    {% assign total = temp %}
  	{% assign all_if = 1 %}
    {% endif %}
    {% endfor %}


    {% if infinity == true %}
    {% assign leftNumber = total %}
    {% else %}
    {% assign leftNumber = total %}
    {% endif %}
  
  



   	{% endif %}

  <input type="hidden" class="timer_time" value="{{settings.enable_timer_stg_custom}}" />
  <input type="hidden"  class="total_stock_left_num" value="{{leftNumber}}" />
  <input type="hidden" id="stock_left_num" class="stock_left_num" value="{{ leftNumber }}" />
  <input type="hidden"  id="stock_final_num" value="{{ leftNumber }}" />

  {% include 'set_cookies' %} 	
  {% include 'product_count_24m' %}


  {% elsif settings.enable_timer_stg == 'enable_timer_custom_time_revise' %}
  
      {% if settings.enable_inventory_stock_number == "enable_stock_number_random" %}
     

      {% assign leftNumber='' %}
      <input type="hidden" id="stock_left_num" class="cookies_Left_number stock_left_num" value="" />

      {% else %}
     
      <input type="hidden" id="stock_left_num" class="cookies_Left_number stock_left_num" value="{{ leftNumber }}" />
      {% assign all_if = 0 %}
    {% assign total = 0 %}
    {% assign infinity = false %}
 
    {% for variant in product.variants %}

    {% if variant.inventory_management != 'shopify' %}  
    {% assign infinity = true %}
  	{% else %}
   	{% capture temp %}{{ total | plus: variant.inventory_quantity }}{% endcapture %}
    {% assign total = temp %}
  	{% assign all_if = 1 %}
    {% endif %}
    {% endfor %}


    {% if infinity == true %}
    {% assign leftNumber = total %}
    {% else %}
    {% assign leftNumber = total %}
    {% endif %}
  



   	{% endif %}

  <input type="hidden" class="timer_time_reset_day timer_time" value="120" />                 
  <input type="hidden"  class="total_stock_left_num" value="{{leftNumber}}" />

  <input type="hidden" id="stock_left_num" class="reset_day_Left_number stock_left_num" value="" />
  <input type="hidden"  id="stock_final_num" value="{{ leftNumber }}" />


  {% include 'reset_every_day' %} 						
  {% comment %}ly_asset_replace_for_[ 'jquery.countdownTimer.js' | asset_url | script_tag ]_begin{% endcomment %}{% assign ly_asset = 'jquery.countdownTimer.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  | script_tag }}{% comment %}ly_asset_replace_end{% endcomment %}

  <script>
    $(function(){
      $('#hm_timer').countdowntimer({
        dateAndTime : timeDate,
        size : "lg",
        regexpMatchFormat: "([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2}):([0-9]{1,2})",
        regexpReplaceWith: "<samp class='day_1'>$1</samp><span class='day_1'>:</span><samp class='hour_timer text-left'>$2</samp><span>:</span><samp class='minute_timer'>$3</samp><span>:</span><samp class='second_timer text-right'>$4</samp>"              });
    });
  </script>
  <script>

    $(function(){
      $('#hm_timer1201').countdowntimer({
        dateAndTime : timeDate,
      });
    });
  </script>
  <table id="timertwohour">

    <tr>
      <td><span id="hm_timer"></span></td>
    </tr>

    <tr>

      <td> 
        <span class="tm_lbl text-left">{% comment %}ly_i18n_replace_for_[ 'products.timer.hour' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.timer.hour' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902654' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        <span class="tm_sap"> </span>
        <span class="tm_lbl">{% comment %}ly_i18n_replace_for_[ 'products.timer.minute' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.timer.minute' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902655' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
        <span class="tm_sap"> </span>
        <span class="tm_lbl text-right">{% comment %}ly_i18n_replace_for_[ 'products.timer.second' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.timer.second' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902656' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
      </td>
    </tr>
  </table>


  {% else %} 

  <input type="hidden" id="myMinute" class="timer_time" value="" />
  <input type="hidden" id="myLeftnum" class="stock_left_num" value="" />
  <input type="hidden"  id="stock_final_num" value="" />


  <script>

    // for minute
    var myMinute = ['10','15', '20', '25', '30', '45','60','90','120','180','300','420','600','720'];    

    var randMinute = Math.floor(Math.random() * myMinute.length);

    var currentMinute = myMinute[randMinute];
    document.getElementById("myMinute").value =currentMinute*60;

   
  </script>



  {% include 'product_count_random' %}

  {% endif %}


{% endif %}

</div>

{% if section.settings.enable_progressbartimer_text %}
<div id="progress_bar_text_sale" class="progress-container items-count {{ tg }}">
  <p class="progressbar_text_sale">{% comment %}ly_i18n_replace_for_[ 'products.product.sale_end_text' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sale_end_text' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902657' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>
</div>
{% endif %} 

<style>
  .timer_adjustment {clear: both;width: 100%;}
  .product-description.rte, .rte{
    float:left !important;
    text-align: left;  
  }
</style>
</div>
