{%comment%}Size Block{%endcomment%}

<div class="page-width rich-text size-block">
    <div class="grid">
      <div class="grid__item">
          <div class="rich-text__heading text-center">
            <div class="heading">Size Chart</div>
          </div>
      </div>
    </div>
    <div class="grid">
      <div class="grid__item large-up--one-quarter medium-down--one-whole">
        <div class="size one-whole">
          <div class="size-label">S</div>
        </div>
        <div class="one-whole">
          <div class="puzzle-size">≈A5</div>
                <img loading="lazy" src="{{ 's-size.jpg' | asset_img_url: 'x200' }}">
              </div>
              <div class="one-whole">
              <img loading="lazy" src="{{ 'Icons_time.svg' | asset_url }}" style="width: 23px;">
              <div class="pp-label">Assembly time</div>
              <div class="sm-text">From 2 hours</div>
              <img loading="lazy" src="{{ 'Icons_pcs.svg' | asset_url }}" style="width: 23px;">
              <div class="pp-label">Puzzle pieces</div>
              <div class="puzzle-pieces">97-110</div>
              <span style='font-size:20px;'>&#128527;</span>
            </div>
      </div>
      <div class="grid__item large-up--one-quarter medium-down--one-whole">
          <div class="size one-whole">
            <div class="size-label">M</div>
            <div class="bigger-text">2x bigger</div>
          </div>
          <div class="one-whole">
            <div class="puzzle-size">≈A4</div>
            <img loading="lazy" src="{{ 'm-size.jpg' | asset_img_url: 'x200' }}">
          </div>
          <div class="one-whole">
          <img loading="lazy" src="{{ 'Icons_time.svg' | asset_url }}" style="width: 23px;">
          <div class="pp-label">Assembly time</div>
          <div class="sm-text">From 4 hours</div>
          <img loading="lazy" src="{{ 'Icons_pcs.svg' | asset_url }}" style="width: 23px;">
          <div class="pp-label">Puzzle pieces</div>
          <div class="puzzle-pieces">172-216</div>
          <span style='font-size:20px;'>&#128522;</span>
        </div>
      </div>
      <div class="grid__item large-up--one-quarter medium-down--one-whole">
        <div class="size one-whole">
          <div class="size-label">King Size</div>
          <div class="bigger-text">3x bigger</div>
        </div>
        <div class="one-whole">
          <div class="puzzle-size">≈A3</div>
          <img loading="lazy" src="{{ 'l-size.jpg' | asset_img_url: 'x200' }}">
        </div>
          <div class="one-whole">
          <img loading="lazy" src="{{ 'Icons_time.svg' | asset_url }}" style="width: 23px;">
          <div class="pp-label">Assembly time</div>
          <div class="sm-text">From 6 hours</div>
          <img loading="lazy" src="{{ 'Icons_pcs.svg' | asset_url }}" style="width: 23px;">
          <div class="pp-label">Puzzle pieces</div>
          <div class="puzzle-pieces">268-366</div>
          <span style='font-size:20px;'>&#128523;</span>
        </div>
      </div>
      <div class="grid__item large-up--one-quarter medium-down--one-whole">
        <div class="size one-whole">
          <div class="size-label">Royal Size</div>
          <div class="bigger-text">7x bigger</div>
        </div>
        <div class="one-whole">
          <div class="puzzle-size">≈A2</div>
          <img loading="lazy" src="{{ 'xl-size.jpg' | asset_img_url: 'x200' }}">
        </div>
          <div class="one-whole">
          <img loading="lazy" src="{{ 'Icons_time.svg' | asset_url }}" style="width: 23px;">
          <div class="pp-label">Assembly time</div>
          <div class="sm-text">From 10 hours</div>
          <img loading="lazy" src="{{ 'Icons_pcs.svg' | asset_url }}" style="width: 23px;">
          <div class="pp-label">Puzzle pieces</div>
          <div class="puzzle-pieces">530-737</div>
          <span style='font-size:20px;'>&#128526;</span>
        </div>
      </div>
    </div>
  </div>
  
  
  <style>
    .size.one-whole {
      background: #ff862d;
      line-height: 15px;
      font-size: 14px;
      border-radius: 30px;
      display: flex;
      width: fit-content;
      width: -moz-fit-content;
      margin: 0 auto;
  }
    .bigger-text {
      padding: 5px 15px;;
      border-radius: 30px;
      color: #ffff;
      width: min-content;
      text-transform: uppercase;
  }
  .puzzle-size {
      padding-top: 15px;
  }
    .size-block .grid__item {
      padding: 0;
    }
    .size-block .heading {
      margin: 30px 0;
    }
    .size-label {
      background-color: black;
      color: white;
      margin: 0 auto;
      padding: 12px 15px;
      border-radius: 30px;
      flex: auto;
  
    }
    .size-label div {
      display: table-cell;
      vertical-align: middle;
    }
    .s {
      height: 30px;
      width: 30px;
    }
    .m {
      height: 50px;
      width: 50px;
    }
    .m div {
      font-size: 20px;
    }
    .l {
      height: 80px;
      width: 80px;
      line-height: 1em;
    }
    .l div {
      font-size: 20px;
    }
    .price-label {
      background:  no-repeat url("{{ 'price-label-icon.png' | asset_url }}");
      padding: 8px 20px;
      color: white;
      font-size: 16px;
    }
    .image-conteiner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
    }
    .size-block .grid__item  .size-conteiner {
      padding: 0 10px;
      height: 300px;
      padding-top: 15%;
    }
    .puzzle-pieces {
      font-family: Poppins;
      font-size: 20px;
    }
    .sm-text {
      font-size: 14px;
      font-family: Poppins;
      letter-spacing: 0;
    }
    .pp-label {
      color: #ababab;
      font-size: 12px;
      font-family: Poppins;
      font-weight: 400;
      letter-spacing: 0;
    }
    .size-lit-s {
      position: absolute;
      margin: 15px;
      color: #ababab;
      font-weight: bold;
    }
    .pb-10 {
      padding-bottom: 10px;
    }
    @media only screen and (max-width: 990px) {
      .size-block .grid {
        margin-left: 0;
      }
    }
  </style>