{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}
{%- assign file_extension = 'jpg' -%}

{%- if swatch == blank -%}
  <div class="swatch error">
    <p><ly-as-16902707>You must include the snippet swatch.liquid with the name of a product option.</ly-as-16902707></p>
    <p><ly-as-16902708>Use:</ly-as-16902708> <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
    <p><ly-as-16902710>Example:</ly-as-16902710> <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  </div>
{%- else -%}

  {%- assign found_option = false -%}
  {%- assign is_color = false -%}
  {%- assign option_index = 0 -%}

  {% for option in product.options %}
    {% if option == swatch %}
      {% assign found_option = true %}
      {% assign option_index = forloop.index0 %}
      <style>
        label[for="product-select-option-{{ option_index }}"] { display: none; }
        #product-select-option-{{ option_index }} { display: none; }
        #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
      </style>
      {% assign downcased_option = swatch | downcase %}
      {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
        {% assign is_color = true %}
      {% endif %}
    {% endif %}
  {% endfor %}

{% unless found_option %}
  <div class="swatch error">
    <p><ly-as-16902712>You included the snippet swatch.liquid with the name of a product option —</ly-as-16902712> <code>'{{ swatch }}'</code> <ly-as-16902713>— that does not belong to your product.</ly-as-16902713></p>
    <p><ly-as-16902714>Use</ly-as-16902714> <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
    <p><ly-as-16902710>Example:</ly-as-16902710> <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
    <p><strong><ly-as-16902715>This is case-sensitive!</ly-as-16902715></strong> <ly-as-16902716>Do not put in</ly-as-16902716> <code><ly-as-16902717>'color'</ly-as-16902717></code> <ly-as-16902718>if your product option name is</ly-as-16902718> <code><ly-as-16902719>'Color'</ly-as-16902719></code>.</p>
  </div>
{% else %}
  <div id="swatchQuezzle" class="swatch sw-size clearfix" data-option-index="{{ option_index }}">
    <div class="header">Choose {{ swatch }}:</div>
    <div class="swatch_container">
      {%- assign values = '' -%}
      {%- assign size_count = 0 -%}

      {%- if product.collections[0].handle == 'nature-puzzles' -%}
        {%- assign limit_size = 3 -%}
      {%- else -%}
        {%- assign limit_size = product.variants.size -%}
      {%- endif -%}

      {%- for variant in product.variants limit: limit_size -%}

      {%- assign value = variant.options[option_index] -%}
      {%- unless values contains value -%}
      {%- assign values = values | join: ',' -%}
      {%- assign values = values | append: ',' | append: value -%}
      {%- assign values = values | split: ',' -%}
      
<!--COLOR START-->

      {%- endunless -%}
      {%- endfor -%}
    </div>
  </div>
{%- endunless -%}
{%- endif -%}

<style>
.size-label {
    width: 95px;
    text-align: -webkit-center;
    text-align: -moz-center;
}
  .indoor-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .most-popular-label {
    display:none;
    top: 9px;
  }
  @media (min-width: 1186px) {
      .most-popular-label {
        top: 135px;
        right: auto;
    }
  }
  @media (min-width: 980px) and (max-width: 1186px) {
      .most-popular-label {
        top: 110px;
        right: auto;
    }
  }
  .swatch {overflow: hidden;}
  .swatch-nav, .swatch .header {display: flex;}
  .swatch-nav {
    margin-left: auto;
    order: 2;
  }
  .sw-size .swatch_container .swatch-element label {width:100%}
  .swatch_container, .sw-size .swatch_container .swatch-element label {
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -15px 0;
  }
  .swatch-element .size {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 14px;
    width: 100px;
  }
  .sw_content_outer {
    text-align: left;
    padding-left: 20px;
    width: 150px;
  }
  .sw_var_price {
    justify-content: flex-start !important;
  }
  .size > div {
      text-align: center;
      line-height: 1;
  }

  .swatch .swatch-element {
    height: 150px;
    padding: 0 15px 15px 0;
    flex: 0 1 50%;
    margin: 0;
  }
  .swatch {
    margin-bottom: 25px;
  }

  .swatch-label {
    height: 100% !important;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
  }

.swatch-element:nth-child(1) .size {
  width:38px;
  height: 38px;
}

.swatch-element:nth-child(2) .size {
  width:48px;
  height: 48px;
  font-weight: bold;
}

.swatch-element:nth-child(3) .size {
  width:58px;
  height: 58px;
}

.swatch-element:nth-child(3) .size div span:first-child,  .swatch-element:nth-child(4) .size div span:first-child{
  font-weight: bold;
}

.swatch-element:nth-child(4) .size {
  width: 88px;
  height: 88px;
}

.swatch-element:nth-child(2) {
  column-gap: 27px
}

.swatch-element:nth-child(3) {
  column-gap: 22px
}

.sw-size .swatch_container .swatch-element label:nth-child(4) {
  column-gap: 17px
}
</style>
