{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% comment %}
Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'jpg' %}

{% if swatch == blank %}
<div class="swatch error">
  <p><ly-as-16902707>You must include the snippet swatch.liquid with the name of a product option.</ly-as-16902707></p> 
  <p><ly-as-16902708>Use:</ly-as-16902708> <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p><ly-as-16902710>Example:</ly-as-16902710> <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}
<style>
  label[for="product-select-option-{{ option_index }}"] { display: none; }
  #product-select-option-{{ option_index }} { display: none; }
  #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
</style>
<script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
{% assign downcased_option = swatch | downcase %}
{% if downcased_option contains 'color' or downcased_option contains 'colour' %}
{% assign is_color = true %}
{% endif %}
{% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p><ly-as-16902712>You included the snippet swatch.liquid with the name of a product option —</ly-as-16902712> <code>'{{ swatch }}'</code> <ly-as-16902713>— that does not belong to your product.</ly-as-16902713></p>
  <p><ly-as-16902714>Use</ly-as-16902714> <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p><ly-as-16902710>Example:</ly-as-16902710> <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong><ly-as-16902715>This is case-sensitive!</ly-as-16902715></strong> <ly-as-16902716>Do not put in</ly-as-16902716> <code><ly-as-16902717>'color'</ly-as-16902717></code> <ly-as-16902718>if your product option name is</ly-as-16902718> <code><ly-as-16902719>'Color'</ly-as-16902719></code>.</p>
</div>
{% else %}
<div class="swatch {% if product.type == 'Puzzle' and swatch == 'Size'  %}sw-size{% endif %} clearfix" data-option-index="{{ option_index }}">

  <div class="header">Choose {{ swatch }}:
    <div class="swatch-nav">
      <button type="button" class="btn--link swatch-prev slick-arrow" aria-disabled="true" style="display: block;">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewBox="0 0 284.49 498.98"><defs><style>.cls-1{fill:#231f20}</style></defs><path class="cls-1" d="M437.67 129.51a35 35 0 0 1 24.75 59.75L272.67 379l189.75 189.74a35 35 0 1 1-49.5 49.5L198.43 403.75a35 35 0 0 1 0-49.5l214.49-214.49a34.89 34.89 0 0 1 24.75-10.25z" transform="translate(-188.18 -129.51)"></path></svg>
        <span class="icon__fallback-text">translation missing: en.sections.slideshow.prev_slide</span>
      </button>
      <button type="button" class="btn--link swatch-next slick-arrow" style="display: block;" aria-disabled="false">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewBox="0 0 284.49 498.98"><defs><style>.cls-1{fill:#231f20}</style></defs><path class="cls-1" d="M223.18 628.49a35 35 0 0 1-24.75-59.75L388.17 379 198.43 189.26a35 35 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L247.93 618.24a34.89 34.89 0 0 1-24.75 10.25z" transform="translate(-188.18 -129.51)"></path></svg>
        <span class="icon__fallback-text">Next slide</span>
      </button> 
    </div>
  </div>

  <div class="swatch_container">
    {% assign values = '' %}
    {% assign size_count = 0 %}
    {% for variant in product.variants %}

    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
    {% assign values = values | join: ',' %}
    {% assign values = values | append: ',' | append: value %} 
    {% assign values = values | split: ',' %}
    <div data-value="{{ value | escape }}" class="swatch-element {% if is_color and section.settings.swatch_option == 'with_background' %}color with_bg_color {% elsif is_color and section.settings.swatch_option == 'without_background'%}color color_without_bg {% endif %}{% if is_color and section.settings.color_style == 'square_box' %}square_shape {% elsif is_color and section.settings.color_style == 'round_shape'%}round_shape {% endif %}{{ swatch }} {{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
      {% if is_color and section.settings.swatch_option == 'with_background' %}
      <div class="tooltip">{{ value }}</div>
      {% endif %}
      {% if product.type == 'Puzzle' and swatch == 'Size' %}
      {% assign size_count = size_count | plus: 1 %}
      <input id="swatch-{{ option_index }}-{{ value | handle }}-{{ section.id }}" type="radio" ga-data="{{size_count}}" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %}{% unless section.settings.enable_default_variant %} checked{% endunless %}{% endif %} {% unless variant.available %}disabled{% endunless %} />
      {% if is_color and section.settings.swatch_option == 'with_background' %}
      <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ section.id }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({% comment %}ly_asset_replace_for_[ value | handle | append: '.' | append: file_extension | asset_url ]_begin{% endcomment %}{% assign ly_asset = value | handle | append: '.' | append: file_extension %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %})">
        <img class="crossed-out" src="{% comment %}ly_asset_replace_for_[ 'soldout.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'soldout.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" />
      </label>
      {% else %}
      <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ section.id }}">
        {%- if size_count == 3 -%}
        <div class="product__labels most-popular-label">
            <span class="product__label product__label--most-popular">most popular</span>
        </div>
      {%- endif -%}
        <div class="sw_image_outer">
          {% case size_count%}
          {% when 1%}
          <span class="sw_image"><img loading="lazy" src="{{variant.image | img_url: 'master' }}" style="transform: scale(0.6);"/></span>
          {% when 2 %}
          <span class="sw_image"><img loading="lazy" src="{{variant.image | img_url: 'master' }}" style="transform: scale(0.6);"/></span>
          <span class="sw_badge">2x bigger</span>
          {% when 3 %}
          <span class="sw_image"><img loading="lazy" src="{{variant.image | img_url: 'master' }}" style="transform: scale(0.6);"/></span>
          <span class="sw_badge">3x bigger</span>
          {% when 4 %}
          <span class="sw_image"><img loading="lazy" src="{{variant.image | img_url: 'master' }}" style="transform: scale(0.8);"/></span>
          <span class="sw_badge">7x bigger</span>
          {% when 5 %}
          <span class="sw_image"><img loading="lazy" src="{{variant.image | img_url: 'master' }}"/></span>
          <span class="sw_badge">15x bigger</span>
          {% endcase %}
        </div>
        <div class="sw_content_outer">
          <div class="sw_var_price">
            {%comment%}
            {% if variant.compare_at_price > variant.price %}
            <span class="sw_com_price">{{variant.compare_at_price | money }}</span>
            {% endif %} {%endcomment%}
            <style>.sw-size .swatch_container .swatch-element .sw_var_price .sw_m_price {font-size: 18px;}</style>
            <span class="sw_m_price">{{variant.price | money }}</span>
          </div>
          <span class="sw_val">{{ value }}</span>
        </div>
        <img class="crossed-out" src="{% comment %}ly_asset_replace_for_[ 'soldout.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'soldout.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" />
      </label>
      {% else %}
      <label for="swatch-{{ option_index }}-{{ value | handle }}-{{ section.id }}">
        {{ value }}
        <img class="crossed-out" src="{% comment %}ly_asset_replace_for_[ 'soldout.png' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'soldout.png' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}" />
      </label>
      {% endif %}

      {% endif %}
      {% if variant.available %}
      <script>
        jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
               {% unless section.settings.enable_default_variant %}
               jQuery('.swatch').each(function(){
          $(this).find('.available').eq(0).find(':radio').prop( "checked", true );});
        {% endunless %}
      </script>
      {% else %}
      <script>
        jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').find(':radio').removeAttr('checked'); 
      </script>
      {% endif %}
    </div>
    {% endunless %}

    {% endfor %}
  </div>
</div>

{% endunless %}

{% endif %}

<style>
  .most-popular-label {
    display:none;
    top: 150px;
    right: auto;
  }
  .swatch {overflow: hidden;}
  .swatch-nav, .header {display: flex;}
  .swatch-nav {
    margin-left: auto;
    order: 2;
  }
  .sw-size .swatch_container .swatch-element .sw_image_outer{padding-bottom: 30px;padding-top: 10px;}
  .swatch .swatch-element {margin: 0;}
</style>
<script>
  $('.swatch_container').slick({
  infinite: false,
  variableWidth: true,
  adaptiveHeight: true,
  prevArrow: $('.swatch-prev'),
  nextArrow: $('.swatch-next'),
  slidesToShow: 3,
  slidesToScroll: 2,
  responsive: [
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    }
  ]
});
</script>