{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.title' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.title' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902823' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</h1>

            <p class="text-center">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.subtext' | t: email: email ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.subtext' | t: email: email }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902825' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% assign replacement = email  %}{% assign ly_template = ly_template | replace: '[[email]]', replacement %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</p>

            {{ form.errors | default_errors }}

            <label for="ResetPassword">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902826' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.password_confirm' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.password_confirm' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902827' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="{% comment %}ly_i18n_replace_for_[ 'customer.reset_password.submit' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'customer.reset_password.submit' | t }}{% endcapture %}{% capture ly_translation %}{% render 'ly-static-string' with '16902828' render:true %}{% endcapture %}{% if ly_translation != '' and ly_translation != nil  %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
