<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LG4GHBSXKB"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LG4GHBSXKB');
    </script>

    <meta charset="utf-8" />
    <title>Fascinating wooden puzzles</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&amp;family=Poppins:wght@400;500;600&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ 'landing.style.min.css' | asset_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'landing-apple-touch-icon.png' | asset_url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'landing-favicon-32x32.png' | asset_url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'landing-favicon-16x16.png' | asset_url }}" />
    <link rel="manifest" href="{{ 'landing-site.webmanifest' | asset_url }}" />
    <link rel="mask-icon" href="{{ 'landing-safari-pinned-tab.svg' | asset_url }}" color="#ff7607" />
    <link rel="shortcut icon" href="{{ 'landing-favicon.ico' | asset_url }}" />
    <meta name="msapplication-TileColor" content="#1a1a1a" />
    <meta name="msapplication-config" content="landing-browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    {{content_for_header}}
</head>

<body class="page">
    {{content_for_layout}}
    <script src="{{ 'landing.app.min.js' | asset_url }}"></script>
</body>

</html>