<!DOCTYPE html>
<html class="no-webp" lang="ru">

<head>
    {{"https://cozycountryredirect.addons.business/js/eggbox/5107/dtag/script.js?shop=unidragon.myshopify.com" | script_tag }}
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-5RD9DVZ"></script>

    <meta charset="utf-8" />
    <title>QUEZZLE - Puzzle &amp; Quest</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="assets/fonts/Montserrat-Regular/Montserrat-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="assets/fonts/Flarina-Regular/Flarina-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="{{'quezzle.logo.svg' | asset_url }}" as="image" />
    <link rel="stylesheet" href="{{ 'qezzle.style.min.css' | asset_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png" />
    <link rel="manifest" href="assets/img/favicons/site.webmanifest" />
    <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#ff8855" />
    <link rel="shortcut icon" href="assets/img/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#4d30ff" />
    <meta name="msapplication-config" content="assets/img/favicons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    {{content_for_header}}
</head>

<body class="page page--intro">
    {{content_for_layout}}
    <script src="{{ 'quezzle.app.min.js' | asset_url }}"></script>
</body>

</html>