<!DOCTYPE html>
<html class="no-webp" lang="ru">

<head>
    {{"https://cozycountryredirect.addons.business/js/eggbox/5107/dtag/script.js?shop=unidragon.myshopify.com" | script_tag }}
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-5RD9DVZ"></script>

    <meta charset="utf-8" />
    <title>QUEZZLE - Puzzle &amp; Quest</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preload" href="{{'Montserrat-Regular.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="{{'Flarina-Regular.woff2' | asset_url }}" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="{{'quezzle.logo.svg' | asset_url }}" as="image" />
    <link rel="stylesheet" href="{{ 'quezzle.style.min.css' | asset_url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{'favicons-apple-touch-icon.png' | asset_url }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{'favicons-favicon-32x32.png' | asset_url }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{'favicons-favicon-16x16.png' | asset_url }}" />
    <link rel="manifest" href="{{'favicons-site.webmanifest' | asset_url }}" />
    <link rel="mask-icon" href="{{'favicons-safari-pinned-tab.svg' | asset_url }}" color="#ff8855" />
    <link rel="shortcut icon" href="{{'favicons-favicon.ico' | asset_url }}" />
    <meta name="msapplication-TileColor" content="#4d30ff" />
    <meta name="msapplication-config" content="{{'favicons-browserconfig.xml' | asset_url }}" />
    <meta name="theme-color" content="#ffffff" />
    {{content_for_header}}

</head>

<body class="page page--intro">
    {{content_for_layout}}
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    <script src="{{ 'quezzle.app.min.js' | asset_url }}"></script>
</body>
</html>