{% comment %}ly_global_begin{% endcomment %}{% capture ly-global-content %}{% render 'ly-global' render:true %}{% endcapture %}{% assign ly-global-content = ly-global-content | split: '#ly#' %}{% assign langify_title = ly-global-content[0] %}{% assign langify_description = ly-global-content[1] %}{% assign langify_shop_name = ly-global-content[2] %}{% assign langify_shop_description = ly-global-content[3] %}{% assign canonical_langify_url = ly-global-content[4] %}{% assign langify_shop_url = ly-global-content[5] %}{% assign langify_shop_domain = ly-global-content[6] %}{% comment %}ly_global_end{% endcomment %}
{% capture CFH %}{{ content_for_header  }}{% endcapture %}
{% assign isAdmin =false %}
{% if content_for_header contains 'adminBarInjector' %}
  {% assign isAdmin = true %}
{% endif %}
{% if content_for_header contains "previewBarInjector.init();" %}
 {% assign isAdmin = true %}
{% endif %}
{% assign avgOrderValue = 0 %}
{% if customer.orders_count != 0 %}
  {% assign avgOrderValue = customer.total_spent  | divided_by: customer.orders_count | divided_by:100 %}
{% endif %}
<div data-section-id="22618" data-section-type="widget-box" style="padding-top: 0; padding-bottom: 0;">
    <div id="shopify-ali-review-widget" product-id="{{ product.id }}">
        <div class="shop_info" shop-id="1063485558" shop-name="mapppp.myshopify.com" style="display: none;">
            <div class="reviews"></div>
        </div>
        <iframe class="aliReviewsFrame" widget-id="22618" title="AliReviews" src="{% comment %}ly_code_replace_for_[ shop.metafields.alireviews.iframe_domain ]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign ns = language | append: 'alireviews' %}{% assign key = 'iframe_domain' %}{% if shop.metafields[ns][key] %}{% assign ly_translation = shop.metafields[ns][key] %}{% else %}{% assign ly_translation =  shop.metafields.alireviews.iframe_domain  %}{% endif %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}/widget/review-widget?shop_id=1063485558&widget_id=22618&type_page={{ template }}&product_id={{ product.id }}&isAdminLogin={{ isAdmin }}&star=all&customer_id={{ customer.id }}&product_in_cart={%- for item in cart.items -%}{{ item.product_id }},{%- endfor -%}&num_rand=0&total_order_values={{customer.total_spent | divided_by:100}}&avg_order_value={{ avgOrderValue }}&tag={% for tag in customer.tags %}{{ tag }},{% endfor %}&country={% for address in customer.addresses %}{{ address.country_code }}{% endfor %}&last_purchase={{ customer.last_order.created_at | date: "%Y-%m-%d %H:%M" }}&locale={{ request.locale.iso_code }}" height="0" width="100%" frameborder="0" scrolling="no" margin="0"></iframe>
    </div>
</div>
{% schema %}
{
    "name": "Review Box 1",
    "class": "index-section index-section--flush",
    "presets": [{
        "name": "Review Box 1",
        "category": "Ali Reviews"
    }]
}
{% endschema %}
