
    <header class="section-header text-center">
      <h1 style="font-size: 47px;text-transform: uppercase;letter-spacing: 0;font-weight: bold;color: black;">Collections</h1>
    </header>
    <style>
      /* Обнуление */
    
    *, 
    *::before,
    *::after {
      padding: 0;
      margin: 0;
      border: 0;
      box-sizing: border-box;
    }
    a {
      text-decoration: none;
    }
    img {
      vertical-align: top;
    }
    
    .collections__title {
      padding: 100px 0px 70px 0px;
      text-align: center;
    }
    .collections__title span {
      font-size: 36px;
      color: rgb(26, 26, 26);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.222;
    }
    .collections__wrapper {
      max-width: 1170px;
      margin: 0 auto;
      padding: 0 15px;
    }
    .collections__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .collections-item {
      background-color: #fafafa;
      display: flex;
      flex-basis: 48%;
      margin-bottom: 30px;
      position: relative;
      cursor: pointer;
      min-height: 300px;
    }
    .collections-item:hover .item-hover {
      opacity: 1;
      visibility: visible;
    }
    .item-hover img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .item-hover {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      visibility: hidden;
      transition: all .2s ease-in-out;
    }
    .item-hover__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .item-hover__btn button {
      font-size: 13px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 5.231;
      background-color: rgb(255, 142, 0);
      width: 219px;
      height: 54px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .collections-item__info {
      padding: 30px;
      flex: 0 1 50%;
    }
    .collections-item__title {
      font-size: 26px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      line-height: 1.231;
    }
    .collections-item__text {
      font-size: 14px;
      color: rgb(26, 26, 26);
      line-height: 1.857;
      margin-top: 10px;
      max-width: 190px;
    }
    .collections-item__list {
      padding-left: 18px;
      padding-bottom: 10px;
    }
    .collections-item__list ul li {
      font-size: 12px;
      color: rgb(115, 115, 115);
      line-height: 2.167;
      list-style-type: disc;
    }
    .collections-item__bottom {
      display: flex;
    }
    .collections-item__num {
      font-size: 12px;
      font-weight: 600;
      color: rgb(26, 26, 26);
      text-transform: uppercase;
      line-height: 1.833;
      margin-right: 15px;
      position: relative;
    }
    .collections-item__num::after {
      content: '';
      position: absolute;
      top: 3px;
      right: -15px;
      width: 1px;
      height: 13px;
      background-color: rgb(191, 191, 191);
    }
    .collections-item__price {
      font-size: 12px;
      color: rgb(255, 142, 0);
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.833;
      margin-left: 15px;
    }
    .collections-item__img {
      flex: 0 1 50%;
      text-align: right;
    }
    .collections-item__img img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .item-button__mobile {
      display: none;
    }
    
    
    
    @media (max-width: 1020px) {
      .collections__items {
        justify-content: center;
      }
      .collections-item {
        flex-basis: 90%;
      }
      .collections-item__img {
        text-align: right;
      }
    }
    @media (max-width: 767px) {
      .collections__title {
        padding: 40px 0 30px 0;
      }
      .collections__title span {
        font-size: 22px;
      }
      .collections-item {
        flex-direction: column-reverse;
      }
      .collections-item__img img {
        width: 100%;
        object-position: top;
      }
      .collections-item:hover .item-hover {
        opacity: 0;
        visibility: hidden;
      }
      .collections__items {
        display: block;
      }
      .collections-item__info {
        padding: 25px;
      }
      .collections-item__title {
        font-size: 20px;
      }
      .collections-item__text {
        font-size: 12px;
        max-width: fit-content;
        line-height: unset;
      }
      .collections-item__num {
        display: none;
      }
      .collections-item__price {
        margin-left: 0;
        color: rgb(26, 26, 26);
      }
      .collections-item__list {
        padding: 10px 0 15px 18px;
      }
      .item-button__mobile {
        margin-top: 10px;
        display: block;
        text-align: center;
      }
      .item-button__mobile button {
        font-size: 12px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 2.833;
        text-align: center;
        background-color: rgb(255, 142, 0);
        width: 250px;
        height: 39px; 
        border-radius: 50px;
    }
  }
    </style>

  <div class="collections__wrapper">
    <div class="collections__items">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
        {%- when 'collection' -%}
          <a class="collections-item new-collection-list" href="{{ block.settings.collection_item.url }}">
            <div class="collections-item__info">
              <span class="collections-item__title">
                {%- if block.settings.collection_title != blank -%}
                  {{ block.settings.collection_title }}
                {%- else -%}
                  {{ block.settings.collection_item.title }}
                {%- endif -%}
              </span>
              <p class="collections-item__text">{{ block.settings.collection_item_text }}</p>
              <div class="collections-item__list">
                {{ block.settings.collection_description }}
              </div>
              <div class="collections-item__bottom">
                  <span class="collections-item__num">{{block.settings.collection_item.products_count}} ITEMS</span>
                  {% assign collectionMinPrice = block.settings.collection_item.products | sort: 'price' %}
                  <span class="collections-item__price">FROM {{ collectionMinPrice[0].price_min | money }}</span>
              </div>
              <div class="item-button__mobile">
                  <button>{{ block.settings.button_text }}</button>
              </div>
            </div>
            <div class="collections-item__img">
              <img src="{{ block.settings.collection_image | img_url: 'master'}}" alt="">
            </div>
            <div class="item-hover" style="background: url({{ block.settings.collection_hover_image | img_url: 'master' }}) no-repeat;background-size: cover;background-position: center;">
              <div class="item-hover__btn">
                  <button>{{ block.settings.button_text }}</button>
              </div>
            </div>
          </a>
          {%- when 'product-item' -%}
            <a class="collections-item new-collection-list" href="{{ block.settings.product_item.url }}">
              <div class="collections-item__info">
                <span class="collections-item__title">
                  {%- if block.settings.product_title != blank -%}
                    {{ block.settings.product_title }}
                  {%- else -%}
                    {{ block.settings.product_item.title }}
                  {%- endif -%}
                </span>
                <p class="collections-item__text">{{ block.settings.collection_item_text }}</p>
              <div class="collections-item__list">
                {{ block.settings.product_description }}
              </div>
              <div class="collections-item__bottom">
                  <span class="collections-item__num">1 ITEMS</span>
                  <span class="collections-item__price">FROM {{ block.settings.product_item.price | money}}</span>
              </div>
              <div class="item-button__mobile">
                  <button>{{ block.settings.button_text }}</button>
              </div>
              </div>
              <div class="collections-item__img">
              <img src="{{ block.settings.product_image | img_url: 'master' }}" alt="">
              </div>
              <div class="item-hover" style="background: url({{ block.settings.product_hover_image | img_url: 'master' }}) no-repeat;background-size: cover;background-position: center;">
              <div class="item-hover__btn">
                  <button>{{ block.settings.button_text }}</button>
              </div>
              </div>
            </a>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>

  {% schema %}
    {
      "name": "NEW Collections list page",
      "settings": [
        {
          "type": "paragraph",
          "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
        },
        {
          "type": "radio",
          "id": "display_type",
          "label": "Select collections to show",
          "default": "all",
          "options": [
            {
              "value": "all",
              "label": "All"
            },
            {
              "value": "selected",
              "label": "Selected"
            }
          ]
        },
        {
          "type": "select",
          "id": "sort",
          "label": "Sort collections by:",
          "info": "Sorting only applies when 'All' is selected",
          "default": "alphabetical",
          "options": [
            {
              "value": "products_high",
              "label": "Product count, high to low"
            },
            {
              "value": "products_low",
              "label": "Product count, low to high"
            },
            {
              "value": "alphabetical",
              "label": "Alphabetically, A-Z"
            },
            {
              "value": "alphabetical_reversed",
              "label": "Alphabetically, Z-A"
            },
            {
              "value": "date",
              "label": "Date, old to new"
            },
            {
              "value": "date_reversed",
              "label": "Date, new to old"
            }
          ]
        }
      ],
      "blocks": [
        {
          "type": "collection",
          "name": "Collection",
          "settings": [
            {
              "type": "collection",
              "id": "collection_item",
              "label": "Collection"              
            },
            {
              "type": "text",
              "id": "collection_title",
              "label": "Custome Collection Title"
            },
            {
              "type": "text",
              "id": "collection_item_text",
              "label": "Collection Item Slogan"
            },
            {
              "type": "html",
              "id": "collection_description",
              "label": "Collection Description"
            },
            {
              "type": "image_picker",
              "id": "collection_image",
              "label": "Collection Image"
            },
            {
              "type": "image_picker",
              "id": "collection_hover_image",
              "label": "Collection Hover Image"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button text",
              "default": "Go to directory"
            }
          ]
        },
        {
          "type": "product-item",
          "name": "Product",
          "settings": [
            {
              "type": "product",
              "id": "product_item",
              "label": "Product"              
            },
            {
              "type": "text",
              "id": "product_title",
              "label": "Custome Product Title"
            },
            {
              "type": "text",
              "id": "product_item_text",
              "label": "Product Item Slogan"
            },
            {
              "type": "html",
              "id": "product_description",
              "label": "Product Description"
            },
            {
              "type": "image_picker",
              "id": "product_image",
              "label": "Product Image"
            },
            {
              "type": "image_picker",
              "id": "product_hover_image",
              "label": "Product Hover Image"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button text",
              "default": "Go to directory"
            }
          ]
        }
      ]
    }
  {% endschema %}
  