<script>
    var alireviews_page_type = "{{ template }}";
    var alireviews_collection_id = "{{ collection.id }}";
    var alireviews_theme_id = "{{ theme.id }}";
    {% assign alireviews_avg_order_value = 0 %}
    {% if customer.orders_count != 0 %}
        {% assign alireviews_avg_order_value = customer.total_spent  | divided_by: customer.orders_count | divided_by:100 %}
    {% endif %}
    var alireviews_avg_order_value = "{{ alireviews_avg_order_value }}";
    var alireviews_customer_id = "{{ customer.id }}";
    {% assign  alireviews_product_in_cart = "" | split: "" %}
    {% for item in cart.items %}
        {% assign alireviews_tmp_product_id = item.product_id | split: "_" %}
        {% assign alireviews_product_in_cart = alireviews_product_in_cart | concat: alireviews_tmp_product_id %}
    {% endfor %}
    {% assign alireviews_product_in_cart = alireviews_product_in_cart | join: "," %}
    var alireviews_product_in_cart = "{{ alireviews_product_in_cart }}";
    var alireviews_product_id = "{{ product.id }}";
    var alireviews_total_order_values = "{{customer.total_spent | divided_by:100 }}";
    {% assign alireviews_tags = customer.tags | join: "," %}
    var alireviews_tags = "{{ alireviews_tags }}";
    var alireviews_last_purchase = "{{ customer.last_order.created_at | date: "%Y-%m-%d %H:%M" }}";
</script>
<script src="https://ar.cdnhub.co/box/js/frontend/45/iframe.js?version=5.4.9" defer="defer"></script>
<script type="text/javascript">
function loadCSS() {
let head = document.getElementsByTagName("head")[0];
let link = document.createElement("link");
link.rel = "stylesheet";
link.type = "text/css";
link.href = "https://ar.cdnhub.co/box/css/frontend/45/vendor.css?version=5.4.9";
link.media = "all";
head.appendChild(link);
};
window.addEventListener("load", loadCSS(), false);
</script>

<script type="text/javascript"> 
const EL_IFRAME_AR = 'iframe[widget-id][class=aliReviewsFrame]:not([src])';
function renderIframe(iframes){
iframes.length && iframes.forEach((iframe, index) => {
let iframeSrc = iframe.getAttribute('data-ar-src') || iframe.getAttribute('data-src');
iframe.setAttribute('src', iframeSrc || '');
});
};
document.addEventListener("DOMContentLoaded", function () { 
let iframes = document.querySelectorAll(EL_IFRAME_AR);
renderIframe(iframes);
});
</script>
<style>
	   .bannersD {
	display: flex;
         flex-wrap: wrap;
         margin-bottom: 40px;
}

.bannersD a {
	width: 50%;
  padding: 10px;
}
  
  .social-links {
    display: flex;
    justify-content: center;
  }
  
  .social-links a {
  	    max-width: 40px;
    margin: 20px;
    transition: 0.5s all;
  }
  
  .social-links a:hover {
  	opacity: 0.8;
  }
  
  @media (max-width: 767px){


.bannersD a {
	width: 100%;
  padding: 10px;
}
  }
</style>
<div class="page__wrapper">
    <header class="header page__header">
        <div class="header__container"><img class="header__logo" src="{{ 'landing-logo.png' | asset_url }}" srcset="{{ 'landing-logo@2x.png' | asset_url }} 2x" width="165" height="54" alt="Unidragon" />
            <h1 class="header__title">{{section.settings.header}}</h1><img class="header__visual-1" src="{{ 'landing-header-visual-1.png' | asset_url }}" srcset="{{ 'landing-header-visual-1.png' | asset_url }} 1x'  | asset_url }}, {{ 'landing-header-visual-1@2x.png' | asset_url }} 2x" width="286" height="355" alt="" /><img class="header__visual-2" src="{{ 'landing-header-visual-2.png' | asset_url }}" srcset="{{ 'landing-header-visual-2.png' | asset_url }} 1x, {{ 'landing-header-visual-2@2x.png' | asset_url }} 2x" width="266" height="348" alt="" /><img class="header__visual-3" src="{{ 'landing-header-visual-3.png' | asset_url }}" srcset="{{ 'landing-header-visual-3.png' | asset_url }} 1x, {{ 'landing-header-visual-3@2x.png' | asset_url }} 2x" width="297" height="195" alt="" /><img class="header__visual-4" src="{{ 'landing-header-visual-4.png' | asset_url }}" srcset="{{ 'landing-header-visual-4.png' | asset_url }} 1x, {{ 'landing-header-visual-4@2x.png' | asset_url }} 2x" width="101" height="124" alt="" />
          <div class="social-links">
            <a target="_blank" href="https://www.facebook.com/unidragonPuzzle"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/facebook-4-64.png?v=1649954894"></a>
            <a target="_blank" href="https://www.instagram.com/unidragon_com/"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/instagram-4-64.png?v=1649954894"></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCdss4w1ORKXjrYAwEf5stcA"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/youtube-4-64.png?v=1649954894"></a>
            <a target="_blank" href="https://twitter.com/unidragon_com"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/twitter-4-64.png?v=1649954894"></a>
            <a target="_blank" href="https://www.pinterest.com/unidragonpuzzles/_created/"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/pinterest-4-64.png?v=1649954894"></a>
          </div>
        </div>
    </header>
    <main class="page__content">
        <section class="collection" id="new">
            <div class="collection__container">
                            <div class="bannersD">
              	<a href="https://unidragon.com/products/planet-earth">
                  <img src="https://cdn.shopify.com/s/files/1/0623/3551/6908/files/1920_680_1_1.png?v=1649336917" alt="">
                </a>
                              <a href="https://unidragon.com/collections/wooden-puzzles">
                <img src="https://cdn.shopify.com/s/files/1/0623/3551/6908/files/1920_680_1.png?v=1649336917" alt="">
                              </a>
              </div>
                <div class="collection__headline">
                    <h2 class="title collection__title">New</h2><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ section.settings.vew_all_new_items }}'});" class="collection__view-all" href="{{ section.settings.vew_all_new_items }}">View all new items</a>
                </div>
                <div class="collection__items">
                    {%- assign ProductsNew = section.blocks | where: "type", "ProductsNew" -%}
                    {%- if ProductsNew.size > 0  -%}
                        {%- for block in ProductsNew -%}
                            <div class="c-product collection__item">
                                <div class="c-product__main">
                                    <div class="c-product__image"><img src="{{block.settings.landing_new_product.featured_image | img_url: 'master' }}" width="360" height="360" alt="Fiery Fox" /></div>
                                    <div class="c-product__info">
                                        <div product-id="{{block.settings.landing_new_product.id }}" class="arv-collection arv-collection--{{ block.settings.landing_new_product.id }}"></div>
                                        <div class="alrv-prod-rating"><span class="alr-wrapper-rating"></span></div>
                                    </div>
                                    <div class="c-product__title">{{ block.settings.landing_new_product.title }}</div>
                                </div>
                                <div class="c-product__bottom">
                                    <div class="c-product__price"><span class="c-product__from">from</span> {{ block.settings.landing_new_product.price | money }}</div><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ block.settings.landing_new_product.url }}'});" class="button c-product__button" href="{{ block.settings.landing_new_product.url }}" role="button">Shop now</a>
                                </div>
                            </div>
                        {%- endfor -%}
                    {%- else -%}
                        {%- assign new_products = collections.all.products | sort: 'published_at' | reverse  -%}
                  		{%- assign filter_products = new_products  -%}
                  		
						{%- assign counter = 0 -%}
                  		{%- assign index = 0 -%}
                  
                  		{%- for count in (0..99) -%}
                  				{% if counter > 2 %}
                                  {% break %}
                                {% else %}
                                  
                                
                  				                 
                  				{%- if filter_products[index].collections.size > 0  -%}
                  
                  
                  					 <div class="c-product collection__item">
                                        <div class="c-product__main">
                                            <div class="c-product__image"><img src="{{ filter_products[index].featured_image | img_url: 'master' }}" width="360" height="360" alt="Fiery Fox" /></div>
                                            <div class="c-product__info">
                                                <div product-id="{{ filter_products[index].id }}" class="arv-collection arv-collection--{{ filter_products[index].id }}"></div>
                                                <div class="alrv-prod-rating"><span class="alr-wrapper-rating"></span></div>
                                            </div>
                                            <div class="c-product__title">{{ filter_products[index].title }}</div>
                                        </div>
                                        <div class="c-product__bottom">
                                            <div class="c-product__price"><span class="c-product__from">from</span> {{ filter_products[index].price | money }}</div><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ product.url }}'});" class="button c-product__button" href="{{ filter_products[index].url }}" role="button">Shop now</a>
                                        </div>
                                    </div>
                  
                  
                  
                  					{% assign counter = counter | plus: 1 %}
                  					{% assign index = index | plus: 1 %}
                  				{%- else  -%}
                  					{% assign index = index | plus: 1 %}
                  				{%- endif -%}
                  		{% endif %}
                  		{%- endfor -%}
						
                  			{%- comment -%}		
                  
                        {%- for product in filter_products limit:3 -%}
                             {%- if product.collections.size > 0  -%}
                                    <div class="c-product collection__item">
                                        <div class="c-product__main">
                                            <div class="c-product__image"><img src="{{ product.featured_image | img_url: 'master' }}" width="360" height="360" alt="Fiery Fox" /></div>
                                            <div class="c-product__info">
                                                <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }}"></div>
                                                <div class="alrv-prod-rating"><span class="alr-wrapper-rating"></span></div>
                                            </div>
                                            <div class="c-product__title">{{ product.title }}</div>
                                        </div>
                                        <div class="c-product__bottom">
                                            <div class="c-product__price"><span class="c-product__from">from</span> {{ product.price | money }}</div><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ product.url }}'});" class="button c-product__button" href="{{ product.url }}" role="button">Shop now</a>
                                        </div>
                                    </div>
                           {%- endif -%}
                        {%- endfor -%}
                  {%- endcomment -%}	
                    {%- endif -%}
                </div>
            </div><img class="collection__leaves-1" src="{{ 'landing-leaves-1.svg' | asset_url }}" width="272" height="380" alt="" /><img class="collection__figure-1" src="{{ 'landing-figure-1.png' | asset_url }}" srcset="{{ 'landing-figure-1.png' | asset_url }} 1x, {{ 'landing-figure-1@2x.png' | asset_url }} 2x" width="253" height="296" alt="" /><img class="collection__leaves-2" src="{{ 'landing-leaves-2.svg' | asset_url }}" width="260" height="246" alt="" /><img class="collection__figure-2" src="{{ 'landing-figure-2.png' | asset_url }}" srcset="{{ 'landing-figure-2.png' | asset_url }} 1x, {{ 'landing-figure-2@2x.png' | asset_url }} 2x" width="73" height="211" alt="" /><img class="collection__leaves-5" src="{{ 'landing-leaves-5.svg' | asset_url }}" width="65" height="117" alt="" />
        </section>
        <section class="advantages" id="advantages">
            <div class="advantages__container">
                <div class="advantages__row">
                    <div class="advantages__item advantages__item--1">
                        <h2 class="title advantages__title"><span class="color-orange">Advantages</span> of ordering puzzles on our website</h2>
                    </div>
                    <div class="advantages__item advantages__item--2"><img class="advantages__img-discount" src="{{ 'landing-advantages-discount.svg' | asset_url }}" width="128" height="52" alt="10%" /><img class="advantages__img" src="{{ 'landing-advantages-1.png' | asset_url }}" srcset="{{ 'landing-advantages-1.png' | asset_url }} 1x, {{ 'landing-advantages-1@2x.png' | asset_url }} 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text">{{section.settings.advantages_block_1}}</div>
                    </div>
                    <div class="advantages__item advantages__item--3">
                        <div class="advantages__label advantages__label--discount">-40%</div><img class="advantages__img" src="{{ 'landing-advantages-2.png' | asset_url }}" srcset="{{ 'landing-advantages-2.png' | asset_url }} 1x, {{ 'landing-advantages-2@2x.png' | asset_url }} 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text">{{section.settings.advantages_block_2}}</div>
                    </div>
                    <div class="advantages__item advantages__item--4">
                        <div class="advantages__label advantages__label--new">NEW</div><img class="advantages__img" src="{{ 'landing-advantages-3.png' | asset_url }}" srcset="{{ 'landing-advantages-3.png' | asset_url }} 1x, {{ 'landing-advantages-3@2x.png' | asset_url }} 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text">{{section.settings.advantages_block_3}}</div>
                    </div>
                </div>
                <div class="advantages__button-wrapper"><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ section.settings.order_on_website }}'});" class="button advantages__button" href="{{ section.settings.order_on_website }}" role="button">Order on our website</a></div>
            </div><img class="advantages__figure" src="{{ 'landing-figure-5.png' | asset_url }}" srcset="{{ 'landing-figure-5.png' | asset_url }} 1x, {{ 'landing-figure-5@2x.png' | asset_url }} 2x" width="88" height="181" alt="" />
        </section>
        <section class="ordering ordering--en" id="ordering">
            <div class="ordering__container">
                <h2 class="title ordering__title">You can also order our puzzles</h2><img class="ordering__visual" src="{{ 'landing-ordering-visual.png' | asset_url }}" srcset="{{ 'landing-ordering-visual.png' | asset_url }} 1x, {{ 'landing-ordering-visual@2x.png' | asset_url }} 2x" width="370" height="370" alt="" />
                <div class="ordering__items">
                    <div class="ordering__item">
                        <img class="ordering__item-img" src="{{ 'landing-ordering-amazon.png' | asset_url }}" srcset="{{ 'landing-ordering-amazon.png' | asset_url }} 1x, {{ 'landing-ordering-amazon@2x.png' | asset_url }} 2x" width="360" height="157" alt="Amazon" />
                        <a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ section.settings.order_on_amazon }}'});" class="button ordering__item-button button--ordering" href="{{ section.settings.order_on_amazon }}" role="button"><span class="button__caption">Order on</span><img class="button__img" src="{{ 'landing-amazon.png' | asset_url }}" srcset="{{ 'landing-amazon.png' | asset_url }} 1x, {{ 'landing-amazon@2x.png' | asset_url }} 2x" alt="amazon" /></a></div>
                    <div class="ordering__item">
                        <img class="ordering__item-img" src="{{ 'landing-ordering-etsy.png' | asset_url }}" srcset="{{ 'landing-ordering-etsy.png' | asset_url }} 1x, {{ 'landing-ordering-etsy@2x.png' | asset_url }} 2x" width="360" height="157" alt="Etsy" />
                        <a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ section.settings.order_on_etsy }}'});" class="button ordering__item-button button--ordering" href="{{ section.settings.order_on_etsy }}" role="button"><span class="button__caption">Order on</span><img class="button__img" src="{{ 'landing-etsy.png' | asset_url }}" srcset="{{ 'landing-etsy.png' | asset_url }} 1x, {{ 'landing-etsy@2x.png' | asset_url }} 2x" alt="etsy" /></a></div>
                    <div class="ordering__item">
                        <img class="ordering__item-img" src="{{ 'landing-ordering-walmart.png' | asset_url }}" srcset="{{ 'landing-ordering-walmart.png' | asset_url }} 1x, {{ 'landing-ordering-walmart@2x.png' | asset_url }} 2x" width="360" height="157" alt="Walmart" />
                        <a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ section.settings.order_on_walmart }}'});" class="button ordering__item-button button--ordering" href="{{ section.settings.order_on_walmart }}" role="button"><span class="button__caption">Order on</span><img class="button__img" src="{{ 'landing-walmart.png' | asset_url }}" srcset="{{ 'landing-walmart.png' | asset_url }} 1x, {{ 'landing-walmart@2x.png' | asset_url }} 2x" alt="walmart" /></a></div>
                </div>
            </div>
        </section>
        <div class="collection" id="hits">
            <div class="collection__container">
                <div class="collection__headline">
                    <h2 class="title collection__title">Bestsellers</h2><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ section.settings.vew_all_best_items }}'});" class="collection__view-all" href="{{ section.settings.vew_all_best_items }}">View all bestsellers</a>
                </div>
                <div class="collection__items">
                    {%- assign ProductsBest = section.blocks | where: "type", "ProductsBest" -%}
                    {%- for block in ProductsBest -%}
                        <div class="c-product collection__item">
                            <div class="c-product__main">
                                <div class="c-product__image"><img src="{{ block.settings.landing_best_product.featured_image | img_url: 'master' }}" width="360" height="360" alt="Fiery Fox" /></div>
                                <div class="c-product__info">
                                    <div product-id="{{ block.settings.landing_best_product.id }}" class="arv-collection arv-collection--{{ block.settings.landing_best_product.id }}"></div>
                                    <div class="alrv-prod-rating"><span class="alr-wrapper-rating"></span></div>
                                </div>
                                <div class="c-product__title">{{ block.settings.landing_best_product.title }}</div>
                            </div>
                            <div class="c-product__bottom">
                                <div class="c-product__price"><span class="c-product__from">from</span> {{ block.settings.landing_best_product.price | money }}</div><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ block.settings.landing_best_product.url }}'});" class="button c-product__button" href="{{ block.settings.landing_best_product.url }}" role="button">Shop now</a>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
        <div class="collection collection--padding-bottom" id="popular">
            <div class="collection__container">
                <div class="collection__headline">
                    <h2 class="title collection__title">Popular collections</h2><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ section.settings.view_all_collections }}'});" class="collection__view-all" href="{{ section.settings.view_all_collections }}">View all collections</a>
                </div>
                <div class="collection__categories">
                    {%- assign Collection = section.blocks | where: "type", "Collection" -%}
                    {%- for block in Collection -%}
                        {%- if block.settings.landing_product != blank -%}
                            {%- assign go_to_collection = block.settings.landing_product.url-%}
                        {%- else -%}
                            {%- assign go_to_collection = block.settings.landing_collection.url-%}
                        {%- endif -%}
                        <div class="c-category collection__category">
                            <figure class="c-category__figure"><a onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ go_to_collection }}'});" href="{{ go_to_collection }}"> <img src="{{ block.settings.image_collection | img_url: 'master' }}" width="360" height="287" alt="" /></a>
                                <figcaption class="c-category__category">{{ block.settings.landing_collection.title }}</figcaption>
                            </figure><a  onclick="gtag('event', 'select_promotion', {items: [{promotion_name: 'Landing Page'}]}); gtag('event', 'select_content', { content_type: 'link', item_id: '{{ go_to_collection }}'});" class="button c-category__button" href="{{ go_to_collection }}" role="button">Go to collection</a>
                        </div>
                    {%- endfor -%}
                </div>
            </div><img class="collection__leaves-3" src="{{ 'landing-leaves-3.svg' | asset_url }}" width="272" height="380" alt="" /><img class="collection__figure-3" src="{{ 'landing-figure-3.png' | asset_url }}" srcset="{{ 'landing-figure-3.png' | asset_url }} 1x, {{ 'landing-figure-3@2x.png' | asset_url }} 2x" width="128" height="135" alt="" /><img class="collection__leaves-4" src="{{ 'landing-leaves-4.svg' | asset_url }}" width="320" height="320" alt="" />
        </div>
    </main>
    <footer class="footer page__footer">
        <div class="footer__container">
            <div class="footer__section">
                <div class="footer__title">Cooperation</div>
                <div class="footer__links"><a class="footer__link" href="{{ section.settings.pr_in_usa }}">PR in USA</a><a class="footer__link" href="{{ section.settings.pr_in_eu }}">PR in EU</a></div>
            </div>
            <div class="footer__section">
                <div class="footer__title">Contacts</div><a class="footer__contact" href="mailto:care@unidragon.com"><span class="footer__contact-icon"><svg class="svg-icon svg-icon--mail">
                            <use xlink:href="#mail"></use>
                        </svg></span><span class="footer__contact-caption">care@unidragon.com</span></a>
            </div><img class="footer__visual-1" src="{{ 'landing-footer-1.png' | asset_url }}" srcset="{{ 'landing-footer-1.png' | asset_url }} 1x, {{ 'landing-footer-1@2x.png' | asset_url }} 2x" width="360" height="360" alt="" /><img class="footer__visual-2" src="{{ 'landing-footer-2.png' | asset_url }}" srcset="{{ 'landing-footer-2.png' | asset_url }} 1x, {{ 'landing-footer-2@2x.png' | asset_url }} 2x" width="355" height="224" alt="" /><img class="footer__visual-3" src="{{ 'landing-footer-3.png' | asset_url }}" srcset="{{ 'landing-footer-3.png' | asset_url }} 1x, {{ 'landing-footer-3@2x.png' | asset_url }} 2x" width="433" height="175" alt="" />
        </div>
        <div style="display: none;">{% include 'landing-sprite.svg' %}</div>
    </footer>
</div>
<script>
    function setCookie(name, value, options = {}) {

        options = {
        path: '/',
        ...options
        };

        if (options.expires instanceof Date) {
        options.expires = options.expires.toUTCString();
        }

        let updatedCookie = encodeURIComponent(name) + "=" + encodeURIComponent(value);

        for (let optionKey in options) {
        updatedCookie += "; " + optionKey;
        let optionValue = options[optionKey];
        if (optionValue !== true) {
            updatedCookie += "=" + optionValue;
        }
        }

        document.cookie = updatedCookie;
        }

        setCookie('landing_page_visit', true, {secure: true, 'max-age': 3600});
</script>
{% schema %}
{
    "name": "Landing page",
    "settings": [
    {
        "type": "header",
        "content": "Rating Settings"
    },
    {
        "type": "range",
        "id": "star_size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Star Size",
        "default": 17
    },
    {
        "type": "range",
        "id": "star_text_font_size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Star Text Font Size",
        "default": 16
    },
    {
        "type": "range",
        "id": "star_padding",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Star paddings",
        "default": 3
    },
    {
        "type": "range",
        "id": "star_text_padding",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Star Text paddings",
        "default": 10
    },
    {
        "type": "header",
        "content": "Header"
    },
    {
        "type": "html",
        "id": "header",
        "label": "Header text",
        "default": "Fascinating <br>wooden puzzles"
    },
    {
        "type": "header",
        "content": "Advantages block"
    },
    {
        "type": "html",
        "id": "advantages_block_1",
        "label": "Header text",
        "default": "You will receive <b>10% bonus points</b> that you can spend on your next purchases"
    },
    {
        "type": "html",
        "id": "advantages_block_2",
        "label": "Advantages block text",
        "default": "<b>Special offers</b> and big discounts are only on our website"
    },
    {
        "type": "html",
        "id": "advantages_block_3",
        "label": "Advantages block text",
        "default": "You can find the most complete range of <b>new products only on our website</b>"
    },
    {
        "type": "header",
        "content": "SetUp links url"
    },
    {
        "type": "text",
        "id": "order_on_website",
        "label": "Order on our website",
        "default": "https://unidragon.com/collections/wooden-puzzles/?utm_source=instagram_tap"
    },
    {
        "type": "text",
        "id": "order_on_amazon",
        "label": "Order on our Amazon",
        "default": "https://www.amazon.com/stores/Uniquewoodenpuzzles/page/B2976332-EDE0-4EA3-B4FE-B15714AA41E2?maas=maas_adg_89E0DE2BE316CB1F7D5FED806C85E10F_afap_abs&ref_=aa_maas&tag=maas&ref_=ast_bln"
    },
    {
        "type": "text",
        "id": "order_on_etsy",
        "label": "Order on our Etsy",
        "default": "https://www.etsy.com/shop/unidragonpuzzle?ref=simple-shop-header-name&listing_id=726260576"
    },
    {
        "type": "text",
        "id": "order_on_walmart",
        "label": "Order on our Walmart",
        "default": "https://www.walmart.com.mx/"
    },
    {
        "type": "text",
        "id": "vew_all_new_items",
        "label": "View all new items",
        "default": "https://unidragon.com/"
    },
    {
        "type": "text",
        "id": "vew_all_best_items",
        "label": "View all bestsellers",
        "default": "https://unidragon.com/"
    },
    {
        "type": "text",
        "id": "view_all_collections",
        "label": "View all collections",
        "default": "https://unidragon.com/collections"
    },
    {
        "type": "text",
        "id": "pr_in_usa",
        "label": "PR in USA",
        "default": "https://www.instagram.com/unidragon.marketing/"
    },
    {
        "type": "text",
        "id": "pr_in_eu",
        "label": "PR in EU",
        "default": "https://www.instagram.com/unidragon.marketing.eu/"
    }
  ],
  "blocks": [
    {
        "name": "Product NEW",
        "type": "ProductsNew",
        "settings": [
            {
                "type": "product",
                "id": "landing_new_product",
                "label": "Product for section"
            }
        ]
    },
    {
        "name": "Product Bestsellers",
        "type": "ProductsBest",
        "settings": [
            {
                "type": "product",
                "id": "landing_best_product",
                "label": "Product for section"
            }
        ]
    },
    {
        "name": "Popular collections",
        "type": "Collection",
        "settings": [
            {
                "type": "collection",
                "id": "landing_collection",
                "label": "Collection for section"
            },
            {
                "type": "product",
                "id": "landing_product",
                "label": "Product for section Collection"
            },
            {
                "type": "image_picker",
                "id": "image_collection",
                "label": "Collection Image"
            }
        ]
    }
  ]
}
{% endschema %}

<style>
    .arv-collection .alr-icon-star:before, #alireview-review-widget-badge .alr-icon-star:before {
        font-size: {{ section.settings.star_size }}px;
    }
    .arv-collection .alr-wrapper-rating .alr-rating-symbol:not(:last-child) {
        margin-right: {{section.settings.star_padding}}px!important;
    }
    span.alrv-prod-rating__text {
        padding-left: {{section.settings.star_text_padding}}px;
        font-size: {{ section.settings.star_text_font_size }}px;
    }
</style>