<div class="page__wrapper">
    <header class="header page__header">
        <div class="header__container"><img class="header__logo" src="{{ 'landing-logo.png' | asset_url }}" srcset="{{ 'landing-logo@2x.png' | asset_url }} 2x" width="165" height="54" alt="Unidragon" />
            <h1 class="header__title">Fascinating <br>wooden puzzles</h1><img class="header__visual-1" src="{{ 'landing-header-visual-1.png' | asset_url }}" srcset="{{ 'landing-header-visual-1.png' | asset_url }} 1x'  | asset_url }}, {{ 'landing-header-visual-1@2x.png' | asset_url }} 2x" width="286" height="355" alt="" /><img class="header__visual-2" src="{{ 'landing-header-visual-2.png' | asset_url }}" srcset="{{ 'landing-header-visual-2.png' | asset_url }} 1x, {{ 'landing-header-visual-2@2x.png' | asset_url }} 2x" width="266" height="348" alt="" /><img class="header__visual-3" src="{{ 'landing-header-visual-3.png' | asset_url }}" srcset="{{ 'landing-header-visual-3.png' | asset_url }} 1x, {{ 'landing-header-visual-3@2x.png' | asset_url }} 2x" width="297" height="195" alt="" /><img class="header__visual-4" src="{{ 'landing-header-visual-4.png' | asset_url }}" srcset="{{ 'landing-header-visual-4.png' | asset_url }} 1x, {{ 'landing-header-visual-4@2x.png' | asset_url }} 2x" width="101" height="124" alt="" />
        </div>
    </header>
    <main class="page__content">
        <section class="advantages" id="advantages">
            <div class="advantages__container">
                <div class="advantages__row">
                    <div class="advantages__item advantages__item--1">
                        <h2 class="title advantages__title"><span class="color-orange">Advantages</span> of&nbsp;ordering puzzles on&nbsp;our website</h2>
                    </div>
                    <div class="advantages__item advantages__item--2"><img class="advantages__img-discount" src="{{ 'landing-advantages-discount.svg' | asset_url }}" width="128" height="52" alt="10%" /><img class="advantages__img" src="{{ 'landing-advantages-1.png' | asset_url }}" srcset="{{ 'landing-advantages-1.png' | asset_url }} 1x, {{ 'landing-advantages-1@2x.png' | asset_url }} 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text">You will receive <b>10% bonus points</b> that you can spend on&nbsp;your next purchases</div>
                    </div>
                    <div class="advantages__item advantages__item--3">
                        <div class="advantages__label advantages__label--discount">-40%</div><img class="advantages__img" src="{{ 'landing-advantages-2.png' | asset_url }}" srcset="{{ 'landing-advantages-2.png' | asset_url }} 1x, {{ 'landing-advantages-2@2x.png' | asset_url }} 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text"><b>Special offers</b> and big discounts are only on&nbsp;our website</div>
                    </div>
                    <div class="advantages__item advantages__item--4">
                        <div class="advantages__label advantages__label--new">NEW</div><img class="advantages__img" src="{{ 'landing-advantages-3.png' | asset_url }}" srcset="{{ 'landing-advantages-3.png' | asset_url }} 1x, {{ 'landing-advantages-3@2x.png' | asset_url }} 2x" width="220" height="120" alt="" />
                        <div class="advantages__item-text">You can find the most complete r&nbsp;ange of&nbsp;<b>new products only on&nbsp;our website</b></div>
                    </div>
                </div>
                <div class="advantages__button-wrapper"><a class="button advantages__button" href="{{ section.settings.order_on_website }}" role="button">Order on our website</a></div>
            </div><img class="advantages__figure" src="{{ 'landing-figure-5.png' | asset_url }}" srcset="{{ 'landing-figure-5.png' | asset_url }} 1x, {{ 'landing-figure-5@2x.png' | asset_url }} 2x" width="88" height="181" alt="" />
        </section>
        <section class="ordering ordering--en" id="ordering">
            <div class="ordering__container">
                <h2 class="title ordering__title">You can also order our puzzles</h2><img class="ordering__visual" src="{{ 'landing-ordering-visual.png' | asset_url }}" srcset="{{ 'landing-ordering-visual.png' | asset_url }} 1x, {{ 'landing-ordering-visual@2x.png' | asset_url }} 2x" width="370" height="370" alt="" />
                <div class="ordering__items">
                    <div class="ordering__item">
                        <img class="ordering__item-img" src="{{ 'landing-ordering-amazon.png' | asset_url }}" srcset="{{ 'landing-ordering-amazon.png' | asset_url }} 1x, {{ 'landing-ordering-amazon@2x.png' | asset_url }} 2x" width="360" height="157" alt="Amazon" />
                        <a class="button ordering__item-button button--ordering" href="{{ section.settings.order_on_amazon }}" role="button"><span class="button__caption">Order on</span><img class="button__img" src="{{ 'landing-amazon.png' | asset_url }}" srcset="{{ 'landing-amazon.png' | asset_url }} 1x, {{ 'landing-amazon@2x.png' | asset_url }} 2x" alt="amazon" /></a></div>
                    <div class="ordering__item">
                        <img class="ordering__item-img" src="{{ 'landing-ordering-etsy.png' | asset_url }}" srcset="{{ 'landing-ordering-etsy.png' | asset_url }} 1x, {{ 'landing-ordering-etsy@2x.png' | asset_url }} 2x" width="360" height="157" alt="Etsy" />
                        <a class="button ordering__item-button button--ordering" href="{{ section.settings.order_on_etsy }}" role="button"><span class="button__caption">Order on</span><img class="button__img" src="{{ 'landing-etsy.png' | asset_url }}" srcset="{{ 'landing-etsy.png' | asset_url }} 1x, {{ 'landing-etsy@2x.png' | asset_url }} 2x" alt="etsy" /></a></div>
                    <div class="ordering__item">
                        <img class="ordering__item-img" src="{{ 'landing-ordering-walmart.png' | asset_url }}" srcset="{{ 'landing-ordering-walmart.png' | asset_url }} 1x, {{ 'landing-ordering-walmart@2x.png' | asset_url }} 2x" width="360" height="157" alt="Walmart" />
                        <a class="button ordering__item-button button--ordering" href="{{ section.settings.order_on_walmart }}" role="button"><span class="button__caption">Order on</span><img class="button__img" src="{{ 'landing-walmart.png' | asset_url }}" srcset="{{ 'landing-walmart.png' | asset_url }} 1x, {{ 'landing-walmart@2x.png' | asset_url }} 2x" alt="walmart" /></a></div>
                </div>
            </div>
        </section>
        <section class="collection" id="new">
            <div class="collection__container">
                <div class="collection__headline">
                    <h2 class="title collection__title">New</h2><a class="collection__view-all" href="{{ section.settings.vew_all_new_items }}">View all new items</a>
                </div>
                <div class="collection__items">
                    {%- assign ProductsNew = section.blocks | where: "type", "ProductsNew" -%}
                    {%- for block in ProductsNew -%}
                        <div class="c-product collection__item">
                            <div class="c-product__main">
                                <div class="c-product__image"><img src="{{ block.settings.landing_new_product.featured_image | img_url: 'master' }}" width="360" height="360" alt="Fiery Fox" /></div>
                                <div class="c-product__info">
                                    <div class="stars c-product__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><span class="c-product__rating">{{ block.settings.rating }}</span><span class="c-product__reviews">({{ block.settings.reviews }})</span>
                                </div>
                                <div class="c-product__title">{{ block.settings.landing_new_product.title }}</div>
                            </div>
                            <div class="c-product__bottom">
                                <div class="c-product__price"><span class="c-product__from">from</span> {{ block.settings.landing_new_product.price | money }}</div><a class="button c-product__button" href="{{ block.settings.landing_new_product.url }}" role="button">Shop now</a>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div><img class="collection__leaves-1" src="{{ 'landing-leaves-1.svg' | asset_url }}" width="272" height="380" alt="" /><img class="collection__figure-1" src="{{ 'landing-figure-1.png' | asset_url }}" srcset="{{ 'landing-figure-1.png' | asset_url }} 1x, {{ 'landing-figure-1@2x.png' | asset_url }} 2x" width="253" height="296" alt="" /><img class="collection__leaves-2" src="{{ 'landing-leaves-2.svg' | asset_url }}" width="260" height="246" alt="" /><img class="collection__figure-2" src="{{ 'landing-figure-2.png' | asset_url }}" srcset="{{ 'landing-figure-2.png' | asset_url }} 1x, {{ 'landing-figure-2@2x.png' | asset_url }} 2x" width="73" height="211" alt="" /><img class="collection__leaves-5" src="{{ 'landing-leaves-5.svg' | asset_url }}" width="65" height="117" alt="" />
        </section>
        <div class="collection" id="hits">
            <div class="collection__container">
                <div class="collection__headline">
                    <h2 class="title collection__title">Bestsellers</h2><a class="collection__view-all" href="{{ section.settings.vew_all_best_items }}">View all bestsellers</a>
                </div>
                <div class="collection__items">
                    {%- assign ProductsBest = section.blocks | where: "type", "ProductsBest" -%}
                    {%- for block in ProductsBest -%}
                        <div class="c-product collection__item">
                            <div class="c-product__main">
                                <div class="c-product__image"><img src="{{ block.settings.landing_best_product.featured_image | img_url: 'master' }}" width="360" height="360" alt="Fiery Fox" /></div>
                                <div class="c-product__info">
                                    <div class="stars c-product__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><span class="c-product__rating">{{ block.settings.rating }}</span><span class="c-product__reviews">({{ block.settings.reviews }})</span>
                                </div>
                                <div class="c-product__title">{{ block.settings.landing_best_product.title }}</div>
                            </div>
                            <div class="c-product__bottom">
                                <div class="c-product__price"><span class="c-product__from">from</span> {{ block.settings.landing_best_product.price | money }}</div><a class="button c-product__button" href="{{ block.settings.landing_best_product.url }}" role="button">Shop now</a>
                            </div>
                        </div>
                    {%- endfor -%}
                </div>
            </div>
        </div>
        <div class="collection collection--padding-bottom" id="popular">
            <div class="collection__container">
                <div class="collection__headline">
                    <h2 class="title collection__title">Popular collections</h2><a class="collection__view-all" href="{{ section.settings.view_all_collections }}">View all collections</a>
                </div>
                <div class="collection__categories">
                    {%- assign Collection = section.blocks | where: "type", "Collection" -%}
                    {%- for block in Collection -%}
                        <div class="c-category collection__category">
                            <figure class="c-category__figure"><a href="#"> <img src="{{ block.settings.image_collection | img_url: 'master' }}" width="360" height="287" alt="" /></a>
                                <figcaption class="c-category__category">{{ block.settings.landing_collection.title }}</figcaption>
                            </figure><a class="button c-category__button" href="{{ block.settings.landing_collection.url }}" role="button">Go to collection</a>
                        </div>
                    {%- endfor -%}
                </div>
            </div><img class="collection__leaves-3" src="{{ 'landing-leaves-3.svg' | asset_url }}" width="272" height="380" alt="" /><img class="collection__figure-3" src="{{ 'landing-figure-3.png' | asset_url }}" srcset="{{ 'landing-figure-3.png' | asset_url }} 1x, {{ 'landing-figure-3@2x.png' | asset_url }} 2x" width="128" height="135" alt="" /><img class="collection__leaves-4" src="{{ 'landing-leaves-4.svg' | asset_url }}" width="320" height="320" alt="" />
        </div>
    </main>
    <footer class="footer page__footer">
        <div class="footer__container">
            <div class="footer__section">
                <div class="footer__title">Cooperation</div>
                <div class="footer__links"><a class="footer__link" href="{{ section.settings.pr_in_usa }}">PR in USA</a><a class="footer__link" href="{{ section.settings.eu }}">PR in EU</a></div>
            </div>
            <div class="footer__section">
                <div class="footer__title">Contacts</div><a class="footer__contact" href="mailto:care@unidragon.com"><span class="footer__contact-icon"><svg class="svg-icon svg-icon--mail">
                            <use xlink:href="#mail"></use>
                        </svg></span><span class="footer__contact-caption">care@unidragon.com</span></a>
            </div><img class="footer__visual-1" src="{{ 'landing-footer-1.png' | asset_url }}" srcset="{{ 'landing-footer-1.png' | asset_url }} 1x, {{ 'landing-footer-1@2x.png' | asset_url }} 2x" width="360" height="360" alt="" /><img class="footer__visual-2" src="{{ 'landing-footer-2.png' | asset_url }}" srcset="{{ 'landing-footer-2.png' | asset_url }} 1x, {{ 'landing-footer-2@2x.png' | asset_url }} 2x" width="355" height="224" alt="" /><img class="footer__visual-3" src="{{ 'landing-footer-3.png' | asset_url }}" srcset="{{ 'landing-footer-3.png' | asset_url }} 1x, {{ 'landing-footer-3@2x.png' | asset_url }} 2x" width="433" height="175" alt="" />
        </div>
        <div style="display: none;">{% include 'landing-sprite.svg' %}</div>
    </footer>
</div>

{% schema %}
{
  "name": "Landing page",
  "settings": [
    {
        "type": "header",
        "content": "SetUp links url"
    },
    {
        "type": "text",
        "id": "order_on_website",
        "label": "Order on our website",
        "default": "https://unidragon.com/collections/wooden-puzzles/?utm_source=instagram_tap"
    },
    {
        "type": "text",
        "id": "order_on_amazon",
        "label": "Order on our Amazon",
        "default": "https://www.amazon.com/stores/Uniquewoodenpuzzles/page/B2976332-EDE0-4EA3-B4FE-B15714AA41E2?maas=maas_adg_89E0DE2BE316CB1F7D5FED806C85E10F_afap_abs&ref_=aa_maas&tag=maas&ref_=ast_bln"
    },
    {
        "type": "text",
        "id": "order_on_etsy",
        "label": "Order on our Etsy",
        "default": "https://www.etsy.com/shop/unidragonpuzzle?ref=simple-shop-header-name&listing_id=726260576"
    },
    {
        "type": "text",
        "id": "order_on_walmart",
        "label": "Order on our Walmart",
        "default": "https://www.walmart.com.mx/"
    },
    {
        "type": "text",
        "id": "vew_all_new_items",
        "label": "View all new items",
        "default": "https://unidragon.com/"
    },
    {
        "type": "text",
        "id": "vew_all_best_items",
        "label": "View all bestsellers",
        "default": "https://unidragon.com/"
    },
    {
        "type": "text",
        "id": "view_all_collections",
        "label": "View all collections",
        "default": "https://unidragon.com/collections"
    },
    {
        "type": "text",
        "id": "pr_in_usa",
        "label": "PR in USA",
        "default": "https://www.instagram.com/unidragon.marketing/"
    },
    {
        "type": "text",
        "id": "pr_in_eu",
        "label": "PR in EU",
        "default": "https://www.instagram.com/unidragon.marketing.eu/"
    }
  ],
  "blocks": [
    {
        "name": "Product NEW",
        "type": "ProductsNew",
        "settings": [
            {
                "type": "product",
                "id": "landing_new_product",
                "label": "Product for section"
            },
            {
                "type": "text",
                "id": "rating",
                "label": "Rating",
                "default": "5.0"
            },
            {
                "type": "text",
                "id": "reviews",
                "label": "Reviews count",
                "default": "100 reviews"
            }
        ]
    },
    {
        "name": "Product Bestsellers",
        "type": "ProductsBest",
        "settings": [
            {
                "type": "product",
                "id": "landing_best_product",
                "label": "Product for section"
            },
            {
                "type": "text",
                "id": "rating",
                "label": "Rating",
                "default": "5.0"
            },
            {
                "type": "text",
                "id": "reviews",
                "label": "Reviews count",
                "default": "100 reviews"
            }
        ]
    },
    {
        "name": "Popular collections",
        "type": "Collection",
        "settings": [
            {
                "type": "collection",
                "id": "landing_collection",
                "label": "Collection for section"
            },
            {
                "type": "image_picker",
                "id": "image_collection",
                "label": "Collection Image"
            }
        ]
    }
  ]
}
{% endschema %}