    <style>
      /*===== START BORDER STYLE CSS =====*/
      
       /*===== END BORDER STYLE CSS =====*/
      
      /*===== START PARALLAX CSS =====*/
      
      
       #shopify-section-1522671309651 .hero {  
        position: relative;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
      }	
      @media only screen and (min-width:749px) and (max-width:1024px) {
        #shopify-section-1522671309651 .hero {
          background-attachment: scroll;     
        }
      }
      @media only screen and (max-width:749px) {
         #shopify-section-1522671309651 .hero {
          background-attachment: scroll; 
        }
      }
      
      /*===== END PARALLAX CSS =====*/
      
     .hero .mega-subtitle {
        margin: 0;
        display: inline-block;
      }
    
      #shopify-section-1522671309651 .hero__btn {
        
        
      }
      @media only screen and (min-width:750px) {
        #shopify-section-1522671309651 .hero__btn {
          
        }
      }@media only screen and (max-width:456px) {
        .hero.hero--medium.hero__overlay.box.ratio-container.js.lazyloaded{
          height: 210px;
        }
      }
      
    </style>
    <div id="ab_test_hero" class="hero hero--medium hero__overlay box ratio-container js lazyloaded" data-bgset="//cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_180x.jpg?v=1588268038 180w 180h,
        //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_360x.jpg?v=1588268038 360w 360h,
        //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_540x.jpg?v=1588268038 540w 540h,
        //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_720x.jpg?v=1588268038 720w 720h,
        //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_900x.jpg?v=1588268038 900w 900h,
        //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_1080x.jpg?v=1588268038 1080w 1080h,
        
        
        
        
        
        
        
        
        
        
        
        
        //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1.jpg?v=1588268038 1280w 1280h" data-parent-fit="cover" style="display:none;background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1.jpg?v=1588268038&quot;);">
      
    <style>
            .collection-hero {max-height: 375px!important;}
            #myVide-mob {display:none;}
            @media (max-width: 768px) {
              #myVide-mob {display:inherit}
              #myVideo {display: none;}
            }
        </style>
        <video autoplay="" muted="" loop="" playsinline="" id="myVideo" style="object-fit: cover;width: 100vw;">
          <source src="https://cdn.shopify.com/s/files/1/0010/6348/5558/files/1980v23_c.mp4?v=1638435636" type="video/mp4">
        </video>
        <video autoplay="" muted="" loop="" playsinline="" id="myVide-mob" style="object-fit: cover;width: 100vw;">
          <source src="https://cdn.shopify.com/s/files/1/0010/6348/5558/files/480v3.mp4?v=1638435636" type="video/mp4">
        </video>
      <div class="hero__inner">
        <div class="page-width text-center">
          
            <h1 class="h1 hero_title mega-title imgsldover ">ENTHRALLING WOODEN PUZZLES</h1>
          <div class="border_width"></div>
          
          
            <div class="rte-setting hero_sub_title mega-subtitle imgsldover_sub imgsldover_sub"><p>Unidragon</p></div>
          
          
          <div class="btn_hero">  
          <a href="/collections/wooden-puzzles" class="btn hero__btn">
              SHOP NOW
            </a>
          </div>
          
        </div>
      </div>
    <picture style="display: none;"><source data-srcset="//cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_180x.jpg?v=1588268038 180w 180h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_360x.jpg?v=1588268038 360w 360h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_540x.jpg?v=1588268038 540w 540h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_720x.jpg?v=1588268038 720w 720h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_900x.jpg?v=1588268038 900w 900h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_1080x.jpg?v=1588268038 1080w 1080h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1.jpg?v=1588268038 1280w 1280h" sizes="1595px" srcset="//cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_180x.jpg?v=1588268038 180w 180h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_360x.jpg?v=1588268038 360w 360h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_540x.jpg?v=1588268038 540w 540h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_720x.jpg?v=1588268038 720w 720h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_900x.jpg?v=1588268038 900w 900h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_1080x.jpg?v=1588268038 1080w 1080h, //cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1.jpg?v=1588268038 1280w 1280h"><img alt="" class="lazyautosizes lazyloaded" data-sizes="auto" data-parent-fit="cover" sizes="1595px"></picture></div>
    
    <noscript>
      <div class="hero hero--medium hero__overlay" style="background-image: url('//cdn.shopify.com/s/files/1/0010/6348/5558/files/unidragon-wooden-jigsaw-puzzle-1_2048x.jpg?v=1588268038'); background-position: center center;"></div>
    </noscript>
    
    
    <div class="banners-1 page__banners-1">
        <div class="banners-1__container">
            <div class="banners-1__banners">
                <a class="banners-1__banner banners-1__banner--1" href="/collections/wooden-puzzles">
                  <img src="{{'redesign-banners-banner-1.png' | asset_url }}" srcset="{{'redesign-banners-banner-1.png' | asset_url }} 1x, {{'redesign-banners-banner-1@2x.png' | asset_url }} 2x" width="833" height="347" alt="" />
              </a>
              <a class="banners-1__banner banners-1__banner--2" href="/products/quezzle">
                  <img src="{{'redesign-banners-banner-2.png' | asset_url }}" srcset="{{'redesign-banners-banner-2.png' | asset_url }} 1x, {{'redesign-banners-banner-2@2x.png' | asset_url }} 2x" width="403" height="347" alt="" />
              </a>
          </div>
        </div>
    </div>
    <section class="collections page__collections">
        <div class="collections__container">
            <h2 class="title collections__title">Collections</h2>
            <div class="collections__items">
                <a class="c-collection c-collection--1 collections__item collections__item--6" href="/collections/nature-puzzles">
                    <div class="c-collection__main">
                        <h3 class="c-collection__title">Wooden Jigsaw Nature Puzzles</h3>
                        <p class="c-collection__subtitle">Find Inspiration</p>
                        <ul class="c-collection__list">
                            <li>It&nbsp;is&nbsp;time to&nbsp;forget the daily routine</li>
                            <li>Puzzles work out your brain and strengthen your mind</li>
                        </ul>
                    </div>
                    <div class="c-collection__bottom">
                        <div class="c-collection__quantity">16 items</div>
                        <div class="c-collection__price">from $19.95</div>
                    </div>
                    <div class="c-collection__visual"><img class="c-collection__visual-1-1" src="{{'redesign-collections-visual-1-1.png' | asset_url }}" alt="" /><img class="c-collection__visual-1-2" src="{{'redesign-collections-visual-1-2.png' | asset_url }}" alt="" /><img class="c-collection__visual-1-3" src="{{'redesign-collections-visual-1-3.png' | asset_url }}" alt="" /></div>
                    <div class="c-collection__overlay">
                        <div class="button c-collection__button">View collections</div>
                    </div>
                </a><a class="c-collection c-collection--2 collections__item collections__item--6" href="/collections/dino-collection">
                    <div class="c-collection__main">
                        <h3 class="c-collection__title">Dino Collection</h3>
                        <p class="c-collection__subtitle">Bring your children joy</p>
                        <ul class="c-collection__list">
                            <li>An&nbsp;impressive gift for a&nbsp;child</li>
                            <li>Learn about animal diversity throughout history</li>
                        </ul>
                    </div>
                    <div class="c-collection__bottom">
                        <div class="c-collection__quantity">1 item</div>
                        <div class="c-collection__price">from $19.95</div>
                    </div>
                    <div class="c-collection__visual"><img class="c-collection__visual-2-1" src="{{'redesign-collections-visual-2-1.png' | asset_url }}" alt="" /><img class="c-collection__visual-2-2" src="{{'redesign-collections-visual-2-2.png' | asset_url }}" alt="" /><img class="c-collection__visual-2-3" src="{{'redesign-collections-visual-2-3.png' | asset_url }}" alt="" /></div>
                    <div class="c-collection__overlay">
                        <div class="button c-collection__button">View collections</div>
                    </div>
                </a><a class="c-collection c-collection--3 collections__item collections__item--4" href="/collections/wooden-puzzles">
                    <div class="c-collection__main">
                        <h3 class="c-collection__title">Wooden Jigsaw Puzzles Animals</h3>
                        <p class="c-collection__subtitle">Brighten up&nbsp;your life.</p>
                        <ul class="c-collection__list">
                            <li>Spend your time with your loved ones.</li>
                            <li>Unidragon puzzles have the most unique shape and design.</li>
                        </ul>
                    </div>
                    <div class="c-collection__bottom">
                        <div class="c-collection__quantity">21 items</div>
                        <div class="c-collection__price">from $19.95</div>
                    </div>
                    <div class="c-collection__visual"><img class="c-collection__visual-3-1" src="{{'redesign-collections-visual-3-1.png' | asset_url }}" alt="" /></div>
                    <div class="c-collection__overlay">
                        <div class="button c-collection__button">View collections</div>
                    </div>
                </a><a class="c-collection c-collection--4 collections__item collections__item--4" href="/collections/mandala-puzzles">
                    <div class="c-collection__main">
                        <h3 class="c-collection__title">Mandala Puzzles</h3>
                        <p class="c-collection__subtitle">Your dreams can possibly come true</p>
                        <ul class="c-collection__list">
                            <li>Hours for your inner world</li>
                            <li>Focusing on&nbsp;cherished things</li>
                        </ul>
                    </div>
                    <div class="c-collection__bottom">
                        <div class="c-collection__quantity">2 items</div>
                        <div class="c-collection__price">from $49.95</div>
                    </div>
                    <div class="c-collection__visual"></div>
                    <div class="c-collection__overlay">
                        <div class="button c-collection__button">View collections</div>
                    </div>
                </a><a class="c-collection c-collection--5 collections__item collections__item--4" href="/products/quezzle">
                    <div class="c-collection__main">
                        <h3 class="c-collection__title">Quezzle</h3>
                        <p class="c-collection__subtitle">More than just a puzzle</p>
                        <ul class="c-collection__list">
                            <li>Quest + Puzzle = Quezzle</li>
                            <li>Look and find out secrets</li>
                        </ul>
                    </div>
                    <div class="c-collection__bottom">
                        <div class="c-collection__quantity">1 item</div>
                        <div class="c-collection__price">from $69.95</div>
                    </div>
                    <div class="c-collection__visual"></div>
                    <div class="c-collection__overlay">
                        <div class="button c-collection__button">View collections</div>
                    </div>
                </a><a class="c-collection c-collection--6 collections__item collections__item--6" href="/products/set-for-mounting-puzzles">
                    <div class="c-collection__main">
                        <h3 class="c-collection__title">Set For Mounting Puzzles</h3>
                        <p class="c-collection__subtitle">After solving the puzzle decorate your walls!</p>
                        <ul class="c-collection__list">
                            <li>It&nbsp;is&nbsp;time to&nbsp;forget the daily routine</li>
                            <li>Puzzles work out your brain and strengthen your mind</li>
                        </ul>
                    </div>
                    <div class="c-collection__bottom">
                        <div class="c-collection__quantity">16 items</div>
                        <div class="c-collection__price">from $19.95</div>
                    </div>
                    <div class="c-collection__visual"></div>
                    <div class="c-collection__overlay">
                        <div class="button c-collection__button">View collections</div>
                    </div>
                </a><a class="c-collection c-collection--7 collections__item collections__item--6" href="/collections/world_map_puzzles">
                    <div class="c-collection__main">
                        <h3 class="c-collection__title">World Maps Puzzles</h3>
                        <p class="c-collection__subtitle">3D&nbsp;Map looks amazing</p>
                        <ul class="c-collection__list">
                            <li>A&nbsp;great addition to&nbsp;any decor</li>
                            <li>Live is&nbsp;even better than the picture</li>
                        </ul>
                    </div>
                    <div class="c-collection__bottom">
                        <div class="c-collection__quantity">5 items</div>
                        <div class="c-collection__price">from $199</div>
                    </div>
                    <div class="c-collection__visual"><img class="c-collection__visual-7-2" src="{{'redesign-collections-visual-7-2.png' | asset_url }}" alt="" /></div>
                    <div class="c-collection__overlay">
                        <div class="button c-collection__button">View collections</div>
                    </div>
                </a></div>
        </div>
    </section>
    <section class="products page__products">
        <div class="products__container">
            <h2 class="title products__title">Bestsellers</h2>
            <div class="products__items">
                {%- assign ProductsBest = section.blocks | where: "type", "ProductsBest" -%}
                    {%- for block in ProductsBest -%}
                        <div class="c-product products__item">
                            <div class="c-product__main">
                                <div class="c-product__images">
                                    {%- for image in block.settings.landing_best_product.images limit:3 -%}
                                        <div class="c-product__image">{{ image | image_url: width: 900 | image_tag: loading: 'lazy' }}</div>
                                    {%- endfor -%}
                                </div>
                                <div class="c-product__labels">
                                    <div class="c-product__label c-product__label--bestseller">BESTSELLER</div>
                                </div>
                                <div class="c-product__info">
                                    <div product-id="{{ block.settings.landing_best_product.id }}" class="arv-collection arv-collection--{{ block.settings.landing_best_product.id }}"></div>
                                    <div class="alrv-prod-rating"><span class="alr-wrapper-rating"></span></div>
                                </div>
                                <div class="c-product__title">{{ block.settings.landing_best_product.title }}</div>
                            </div>
                            <div class="c-product__bottom">
                                <div class="c-product__price"><span class="c-product__from">from </span> {{ block.settings.landing_best_product.price | money }}</div><a class="button c-product__button button--smaller" href="{{ block.settings.landing_best_product.url }}" role="button">Shop now</a>
                            </div>
                        </div>
                    {%- endfor -%}
            </div>
        </div>
    </section>
    <div class="banners-2 page__banners-2">
        <div class="banners-2__container">
            <div class="banners-2__banners">
                <div class="banners-2__banner banners-2__banner--1"><img src="{{'redesign-banners-banner-3.png' | asset_url }}" srcset="{{'redesign-banners-banner-3.png' | asset_url }} 1x, {{'redesign-banners-banner-3@2x.png' | asset_url }} 2x" width="618" height="448" alt="" /></div>
                <div class="banners-2__banner banners-2__banner--2"><img src="{{'redesign-banners-banner-4.png' | asset_url }}" srcset="{{'redesign-banners-banner-4.png' | asset_url }} 1x, {{'redesign-banners-banner-4@2x.png' | asset_url }} 2x" width="618" height="448" alt="" /></div>
            </div>
        </div>
    </div>
    <section class="products page__products">
        <div class="products__container">
            <h2 class="title products__title">New</h2>
            <div class="products__items">
                {%- assign new_products = collections.all.products | sort: 'published_at' | reverse -%}
                {%- for product in new_products limit:5 -%}

                    <div class="c-product products__item">
                        <div class="c-product__main">
                            <div class="c-product__images">
                                {%- for image in product.images limit:3 -%}
                                    <div class="c-product__image">{{ image | image_url: width: 900 | image_tag: loading: 'lazy' }}</div>
                                {%- endfor -%}
                            </div>
                            <div class="c-product__labels">
                                <div class="c-product__label c-product__label--new">New</div>
                            </div>
                            <div class="c-product__info">
                                <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }}"></div>
                                <div class="alrv-prod-rating"><span class="alr-wrapper-rating"></span></div>
                            </div>
                            <div class="c-product__title">{{ product.title }}</div>
                        </div>
                        <div class="c-product__bottom">
                            <div class="c-product__price"><span class="c-product__from">from </span> {{ product.price | money }}</div><a class="button c-product__button button--smaller" href="{{ product.url }}" role="button">Shop now</a>
                        </div>
                    </div>

                {%- endfor -%}

                <div class="c-banner products__item"><img class="c-banner__visual-1" src="{{'redesign-banners-c-banners-visual-1.png' | asset_url }}" width="210" height="210" alt="" /><img class="c-banner__visual-2" src="{{'redesign-banners-c-banners-visual-2.png' | asset_url }}" width="330" height="188" alt="" /><img class="c-banner__visual-3" src="{{'redesign-banners-c-banners-visual-3.png' | asset_url }}" width="156" height="120" alt="" /><img class="c-banner__visual-4" src="{{'redesign-banners-c-banners-visual-4.png' | asset_url }}" width="25" height="54" alt="" />
                    <div class="c-banner__content">
                        <h3 class="c-banner__title">Our puzzles are made of&nbsp;wood</h3>
                        <p class="c-banner__text">Wood is&nbsp;natural and eco-friendly material that has a&nbsp;positive impact on&nbsp;the health.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="page__two-row">
        <div class="page__two-col">
            <section class="stories page__stories">
                <h2 class="title stories__title">Inspiring stories</h2>
                <div class="stories__content">
                    
                  {%- render 'fw-storyblock', channel: 'unidragon_world' -%}

                </div>
            </section>
        </div>
        <div class="page__two-col">
            <section class="cta page__cta">
                <h2 class="title cta__title">Buy wooden jigsaw puzzle online</h2>
                <div class="cta__text" id="cta-text">
                    <p>At Unidragon, we sell various types of wooden jigsaw puzzles you can play with during your leisure time. Our wooden unique puzzle is of high quality and it comes with a pretty artwork design which can be enjoyed in places such as reception rooms, coffee tables, office break rooms, waiting rooms, and many other places.</p>
                    <p>We have various wood puzzles for adults and kids and it is a game that increases your IQ. The Unidragon wooden jigsaw puzzle can also serve as a nice room decoration when you glue and hang it after solving the puzzle. It is quite an interesting game to play given the level of thought you experience while playing it.</p>
                    <p>Each piece of the Unidragon wooden jigsaw puzzles is laser-cut, uniquely and artfully crafted differently. Thus, this makes the puzzling time more fun-filled and enjoyable. Our unique jigsaw puzzles are made of quality plywood, and it comes in varieties of unique shapes and vivid colors.</p>
                    <p>Play the Unidragon wooden puzzles to improve your memory, problem-solving skills, visual-spatial ability, mood, and to lower your stress level. With our wooden jigsaw puzzles, can help in promoting eyes and hand co-ordination and it is one of the best puzzle games on the market.</p>
                    <p>At Unidragon, we have different types wooden jigsaw puzzles and they all come in different artwork depictions. We sell different variations of the jigsaw puzzle game which can be played by adults and kids and we sell at the best price. </p>
                    <p>In addition, you can go through our catalog to view all our products. You are sure to find a lot more things that will catch your fancy. At Unidragon, our watchwords are exquisiteness and convenience. We ensure our patrons get nothing but the best in patronizing us.</p>
                    <h3>BUY YOUR WOODEN JIGSAW PUZZLE NOW!</h3>
                    <p>Unidragon sells the best wooden jigsaw puzzles. All our products are nothing short of quality and we are here to make your free or leisure time worthwhile. </p>
                    <p>So, patronize us today. Make your free time fun-filled. Order your jigsaw puzzles online right now!</p>
                </div><button class="cta__read-more js-read-more" type="button" data-collapse="cta-text">Read more</button>
            </section>
        </div>
    </div>
    <div class="banners-3 page__banners-3">
        <div class="banners-3__container">
            <div class="banners-3__banner">
                <div class="banners-3__content">
                    <h2 class="banners-3__title">Unidragon puzzle is&nbsp;a&nbsp;ready-made gift</h2>
                    <p class="banners-3__text">All our puzzles come in&nbsp;a&nbsp;beautiful designer box.</p>
                </div><img class="banners-3__visual-1" src="{{'redesign-banners-banner-5-1.png' | asset_url }}" width="277" height="340" alt="" /><img class="banners-3__visual-2" src="{{'redesign-banners-banner-5-2.png' | asset_url }}" width="340" height="280" alt="" /><img class="banners-3__visual-3" src="{{'redesign-banners-banner-5-3.png' | asset_url }}" width="590" height="235" alt="" />
            </div>
        </div>
    </div>
    <section class="gluing page__gluing">
        <div class="gluing__container">
            <h2 class="title gluing__title">GLUING SYSTEM, <span class="gluing__title-small">FOR THOSE WHO LIKE TO&nbsp;DECORATE THEIR HOME!</span></h2>
            <div class="gluing__main">
                <div class="gluing__info">
                    <p class="gluing__subtitle">Now you can easily turn your puzzle into a&nbsp;piece of&nbsp;interior decor for the home, office, or&nbsp;just about anywhere.</p>
                    <p class="gluing__list-title">The kit includes:</p>
                    <ul class="gluing__list">
                        <li>A&nbsp;cardboard base for turning the puzzle over.</li>
                        <li>Special stickers for attaching the base to&nbsp;the table.</li>
                        <li>Adhesive labels for holding the puzzle pieces together (3&nbsp;sheets).</li>
                        <li>Adhesive patches for attaching the puzzle to&nbsp;the desired surface.</li>
                        <li>Instructions.</li>
                    </ul>
                </div>
                <div class="gluing__steps-wrapper">
                    <ol class="gluing__steps">
                        <li class="gluing__step">
                            <div class="gluing__step-image"><img src="{{'redesign-gluing-gluing-step-1.jpg' | asset_url }}" width="169" height="134" alt="" /></div>
                            <div class="gluing__step-caption">Glue the cardboard to&nbsp;the surface</div>
                        </li>
                        <li class="gluing__step">
                            <div class="gluing__step-image"><img src="{{'redesign-gluing-gluing-step-2.jpg' | asset_url }}" width="169" height="134" alt="" /></div>
                            <div class="gluing__step-caption">Move the puzzle onto the cardboard</div>
                        </li>
                        <li class="gluing__step">
                            <div class="gluing__step-image"><img src="{{'redesign-gluing-gluing-step-3.jpg' | asset_url }}" width="169" height="134" alt="" /></div>
                            <div class="gluing__step-caption">Turn the puzzle over</div>
                        </li>
                        <li class="gluing__step">
                            <div class="gluing__step-image"><img src="{{'redesign-gluing-gluing-step-4.jpg' | asset_url }}" width="169" height="134" alt="" /></div>
                            <div class="gluing__step-caption">Stick the film onto the puzzle</div>
                        </li>
                        <li class="gluing__step">
                            <div class="gluing__step-image"><img src="{{'redesign-gluing-gluing-step-5.jpg' | asset_url }}" width="169" height="134" alt="" /></div>
                            <div class="gluing__step-caption">Smooth the film over the puzzle</div>
                        </li>
                        <li class="gluing__step">
                            <div class="gluing__step-image"><img src="{{'redesign-gluing-gluing-step-6.jpg' | asset_url }}" width="169" height="134" alt="" /></div>
                            <div class="gluing__step-caption">Cut off excess film</div>
                        </li>
                        <li class="gluing__step">
                            <div class="gluing__step-image"><img src="{{'redesign-gluing-gluing-step-7.jpg' | asset_url }}" width="169" height="134" alt="" /></div>
                            <div class="gluing__step-caption">Place the glue heels on&nbsp;the tape</div>
                        </li>
                        <li class="gluing__step">
                            <div class="gluing__step-image"><img src="{{'redesign-gluing-gluing-step-8.jpg' | asset_url }}" width="169" height="134" alt="" /></div>
                            <div class="gluing__step-caption">Fix the puzzle to&nbsp;the wall</div>
                        </li>
                    </ol>
                    <div class="gluing__steps-dots"></div>
                </div>
                <div class="gluing__order">
                    <div class="gluing__order-box"><img class="gluing__order-visual" src="{{'redesign-gluing-gluing-order-visual.png' | asset_url }}" width="186" height="151" alt="" />
                        <div class="gluing__order-text">
                            <p>The fixing system is&nbsp;universal for all puzzles and sizes.</p>
                            <p>One set alone will allow you to&nbsp;hang 6&nbsp;Small puzzles, 3&nbsp;Medium puzzles, or&nbsp;3&nbsp;King Size puzzles.</p>
                        </div>
                        <p class="gluing__order-price"><span class="gluing__order-price-old">$29.95</span> $19.95</p>
                    </div><a class="button gluing__order-button" href="/products/set-for-mounting-puzzles" role="button">Buy it now!</a>
                </div>
            </div>
        </div>
    </section>
    <div class="banners-4 page__banners-4">
        <div class="banners-4__container">
            <div class="banners-4__banner">
                <div class="banners-4__content">
                    <h2 class="banners-4__title">The puzzle comes to&nbsp;life before your eyes</h2>
                    <p class="banners-4__text">Each piece of&nbsp;our puzzle has a&nbsp;unique shape in&nbsp;which you can find an&nbsp;animal or&nbsp;a&nbsp;plant</p>
                </div><img class="banners-4__visual-1" src="{{'redesign-banners-banner-6-1.png' | asset_url }}" width="384" height="294" alt="" /><img class="banners-4__visual-2" src="{{'redesign-banners-banner-6-2.png' | asset_url }}" width="380" height="325" alt="" /><img class="banners-4__visual-3" src="{{'redesign-banners-banner-6-3.png' | asset_url }}" width="100" height="118" alt="" />
            </div>
        </div>
    </div>
    <section class="instagram page__instagram">
        <div class="instagram__container">
            <h2 class="title instagram__title">Get inspired following&nbsp;us on&nbsp;instagram</h2>
            <div class="instagram__top"><img class="instagram__avatar" src="{{'redesign-instagram-instagram-avatar.png' | asset_url }}" srcset="{{'redesign-instagram-instagram-avatar.png' | asset_url }} 1x, {{'redesign-instagram-instagram-avatar@2x.png' | asset_url }} 2x" width="56" height="56" alt="" />
                <div class="instagram__fact"><span class="instagram__value">290</span> Posts</div>
                <div class="instagram__fact"><span class="instagram__value">123k</span> Followers</div>
                <div class="instagram__login">@unidragon_com</div><a class="instagram__link" href="https://www.instagram.com/unidragon_com/" target="_blank">Follow us</a>
            </div>
            <div class="instagram__items"><a class="instagram__item" href="/products/enchanting-owl"><img src="{{'redesign-instagram-instagram-1.jpg' | asset_url }}" alt="" />
                    <div class="instagram__item-btn">Buy now</div>
                </a><a class="instagram__item" href="/products/enchanting-owl"><img src="{{'redesign-instagram-instagram-2.jpg' | asset_url }}" alt="" />
                    <div class="instagram__item-btn">Buy now</div>
                </a><a class="instagram__item" href="/products/pre-order-majestic-wolf"><img src="{{'redesign-instagram-instagram-3.jpg' | asset_url }}" alt="" />
                    <div class="instagram__item-btn">Buy now</div>
                </a><a class="instagram__item" href="/products/fiery-fox"><img src="{{'redesign-instagram-instagram-4.jpg' | asset_url }}" alt="" />
                    <div class="instagram__item-btn">Buy now</div>
                </a><a class="instagram__item" href="/products/wooden-jigsaw-puzzle-mysterious-lion"><img src="{{'redesign-instagram-instagram-5.jpg' | asset_url }}" alt="" />
                    <div class="instagram__item-btn">Buy now</div>
                </a><a class="instagram__item" href="/products/fiery-fox"><img src="{{'redesign-instagram-instagram-6.jpg' | asset_url }}" alt="" />
                    <div class="instagram__item-btn">Buy now</div>
                </a><a class="instagram__item" href="/products/wooden-jigsaw-puzzle-raccoon"><img src="{{'redesign-instagram-instagram-7.jpg' | asset_url }}" alt="" />
                    <div class="instagram__item-btn">Buy now</div>
                </a><a class="instagram__item" href="/products/wooden-jigsaw-puzzle-milky-whales"><img src="{{'redesign-instagram-instagram-8.jpg' | asset_url }}" alt="" />
                    <div class="instagram__item-btn">Buy now</div>
                </a></div>
        </div>
    </section>
    <section class="reviews page__reviews">
        <div class="reviews__container">
            <h2 class="title reviews__title">Feedback from our clients</h2>
            <div class="reviews__items">
                <div class="c-review reviews__item">
                    <div class="c-review__main">
                        <div class="c-review__top">
                            <div class="stars stars--green c-review__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><svg class="svg-icon svg-icon--star-ok c-review__star">
                                <use xlink:href="#star-ok"></use>
                            </svg>
                        </div>
                        <div class="c-review__title">I&nbsp;want all of&nbsp;them!</div>
                        <div class="c-review__text-wrapper">
                            <blockquote class="c-review__text">
                                <p>I&nbsp;enjoyed my&nbsp;first order so&nbsp;much, I&nbsp;placed a&nbsp;second order. I&nbsp;enjoyed the second order so&nbsp;much, I&nbsp;placed a&nbsp;third! My&nbsp;orders shipped quick and accurate.</p>
                                <p>I&nbsp;really enjoy the small animal puzzles as&nbsp;they only take 2-3 hours to&nbsp;complete. I&nbsp;will save the king size mysterious lion puzzle for the holidays when&nbsp;I have the time to&nbsp;enjoy&nbsp;it.</p>
                                <p>I&nbsp;love these wooden puzzles and look forward to&nbsp;a&nbsp;fourth order, I&nbsp;want them all!</p>
                            </blockquote>
                        </div><button class="c-review__show-more" type="button">Show more</button>
                    </div>
                    <div class="c-review__author">
                        <div class="c-review__author-avatar"><img src="{{'redesign-reviews-author-1.jpg' | asset_url }}" width="64" height="64" alt="" /></div>
                        <div class="c-review__author-caption">
                            <div class="c-review__author-name">Sherry</div>
                            <div class="c-review__author-time">5 days ago</div>
                        </div>
                    </div>
                </div>
                <div class="c-review reviews__item">
                    <div class="c-review__main">
                        <div class="c-review__top">
                            <div class="stars stars--green c-review__stars" title="4"><span class="stars__rating" style="width:80%"></span></div><svg class="svg-icon svg-icon--star-ok c-review__star">
                                <use xlink:href="#star-ok"></use>
                            </svg>
                        </div>
                        <div class="c-review__title">Good staff!</div>
                        <div class="c-review__text-wrapper">
                            <blockquote class="c-review__text">
                                <p>I&nbsp;really enjoy the small animal puzzles as&nbsp;they only take 2-3 hours to&nbsp;complete. I&nbsp;will save the king size mysterious lion puzzle for the holidays when&nbsp;I have the time to&nbsp;enjoy&nbsp;it.</p>
                                <p>I&nbsp;enjoyed my&nbsp;first order so&nbsp;much, I&nbsp;placed a&nbsp;second order. I&nbsp;enjoyed the second order so&nbsp;much, I&nbsp;placed a&nbsp;third! My&nbsp;orders shipped quick and accurate.</p>
                                <p>I&nbsp;love these wooden puzzles and look forward to&nbsp;a&nbsp;fourth order, I&nbsp;want them all!</p>
                            </blockquote>
                        </div><button class="c-review__show-more" type="button">Show more</button>
                    </div>
                    <div class="c-review__author">
                        <div class="c-review__author-avatar"><img src="{{'redesign-reviews-author-2.jpg' | asset_url }}" width="64" height="64" alt="" /></div>
                        <div class="c-review__author-caption">
                            <div class="c-review__author-name">Jane</div>
                            <div class="c-review__author-time">10 days ago</div>
                        </div>
                    </div>
                </div>
                <div class="c-review reviews__item">
                    <div class="c-review__main">
                        <div class="c-review__top">
                            <div class="stars stars--green c-review__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><svg class="svg-icon svg-icon--star-ok c-review__star">
                                <use xlink:href="#star-ok"></use>
                            </svg>
                        </div>
                        <div class="c-review__title">Impressed!</div>
                        <div class="c-review__text-wrapper">
                            <blockquote class="c-review__text">
                                <p>I&nbsp;love these wooden puzzles and look forward to&nbsp;a&nbsp;fourth order, I&nbsp;want them all!</p>
                                <p>I&nbsp;enjoyed my&nbsp;first order so&nbsp;much, I&nbsp;placed a&nbsp;second order. I&nbsp;enjoyed the second order so&nbsp;much, I&nbsp;placed a&nbsp;third! My&nbsp;orders shipped quick and accurate.</p>
                                <p>I&nbsp;really enjoy the small animal puzzles as&nbsp;they only take 2-3 hours to&nbsp;complete. I&nbsp;will save the king size mysterious lion puzzle for the holidays when&nbsp;I have the time to&nbsp;enjoy&nbsp;it.</p>
                            </blockquote>
                        </div><button class="c-review__show-more" type="button">Show more</button>
                    </div>
                    <div class="c-review__author">
                        <div class="c-review__author-avatar"><img src="{{'redesign-reviews-author-3.jpg' | asset_url }}" width="64" height="64" alt="" /></div>
                        <div class="c-review__author-caption">
                            <div class="c-review__author-name">Boris</div>
                            <div class="c-review__author-time">15 days ago</div>
                        </div>
                    </div>
                </div>
                <div class="c-review reviews__item">
                    <div class="c-review__main">
                        <div class="c-review__top">
                            <div class="stars stars--green c-review__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><svg class="svg-icon svg-icon--star-ok c-review__star">
                                <use xlink:href="#star-ok"></use>
                            </svg>
                        </div>
                        <div class="c-review__title">Full of emotions!</div>
                        <div class="c-review__text-wrapper">
                            <blockquote class="c-review__text">
                                <p>I&nbsp;enjoyed my&nbsp;first order so&nbsp;much, I&nbsp;placed a&nbsp;second order. I&nbsp;enjoyed the second order so&nbsp;much, I&nbsp;placed a&nbsp;third! My&nbsp;orders shipped quick and accurate.</p>
                            </blockquote>
                        </div><button class="c-review__show-more" type="button">Show more</button>
                    </div>
                    <div class="c-review__author">
                        <div class="c-review__author-avatar"><img src="{{'redesign-reviews-author-4.jpg' | asset_url }}" width="64" height="64" alt="" /></div>
                        <div class="c-review__author-caption">
                            <div class="c-review__author-name">Lane</div>
                            <div class="c-review__author-time">a month ago</div>
                        </div>
                    </div>
                </div>
                <div class="c-review reviews__item">
                    <div class="c-review__main">
                        <div class="c-review__top">
                            <div class="stars stars--green c-review__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><svg class="svg-icon svg-icon--star-ok c-review__star">
                                <use xlink:href="#star-ok"></use>
                            </svg>
                        </div>
                        <div class="c-review__title">Thank you!</div>
                        <div class="c-review__text-wrapper">
                            <blockquote class="c-review__text">
                                <p>I&nbsp;love these wooden puzzles and look forward to&nbsp;a&nbsp;fourth order, I&nbsp;want them all!</p>
                            </blockquote>
                        </div><button class="c-review__show-more" type="button">Show more</button>
                    </div>
                    <div class="c-review__author">
                        <div class="c-review__author-avatar"><img src="{{'redesign-reviews-author-5.jpg' | asset_url }}" width="64" height="64" alt="" /></div>
                        <div class="c-review__author-caption">
                            <div class="c-review__author-name">Teddy</div>
                            <div class="c-review__author-time">20 days ago</div>
                        </div>
                    </div>
                </div>
                <div class="c-review reviews__item">
                    <div class="c-review__main">
                        <div class="c-review__top">
                            <div class="stars stars--green c-review__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><svg class="svg-icon svg-icon--star-ok c-review__star">
                                <use xlink:href="#star-ok"></use>
                            </svg>
                        </div>
                        <div class="c-review__title">I&nbsp;want all of&nbsp;them!</div>
                        <div class="c-review__text-wrapper">
                            <blockquote class="c-review__text">
                                <p>I&nbsp;enjoyed my&nbsp;first order so&nbsp;much, I&nbsp;placed a&nbsp;second order. I&nbsp;enjoyed the second order so&nbsp;much, I&nbsp;placed a&nbsp;third! My&nbsp;orders shipped quick and accurate. I&nbsp;really enjoy the small animal puzzles as&nbsp;they only take 2-3 hours to&nbsp;complete. I&nbsp;will save the king size mysterious lion puzzle for the holidays when&nbsp;I have the time to&nbsp;enjoy&nbsp;it. I&nbsp;love these wooden puzzles and look forward to&nbsp;a&nbsp;fourth order, I&nbsp;want them all!</p>
                            </blockquote>
                        </div><button class="c-review__show-more" type="button">Show more</button>
                    </div>
                    <div class="c-review__author">
                        <div class="c-review__author-avatar"><img src="{{'redesign-reviews-author-6.jpg' | asset_url }}" width="64" height="64" alt="" /></div>
                        <div class="c-review__author-caption">
                            <div class="c-review__author-name">Sara</div>
                            <div class="c-review__author-time">two weeks ago</div>
                        </div>
                    </div>
                </div>
                <div class="c-review reviews__item">
                    <div class="c-review__main">
                        <div class="c-review__top">
                            <div class="stars stars--green c-review__stars" title="5"><span class="stars__rating" style="width:100%"></span></div><svg class="svg-icon svg-icon--star-ok c-review__star">
                                <use xlink:href="#star-ok"></use>
                            </svg>
                        </div>
                        <div class="c-review__title">You are the best!</div>
                        <div class="c-review__text-wrapper">
                            <blockquote class="c-review__text">
                                <p>I&nbsp;enjoyed my&nbsp;first order so&nbsp;much, I&nbsp;placed a&nbsp;second order. I&nbsp;enjoyed the second order so&nbsp;much, I&nbsp;placed a&nbsp;third! My&nbsp;orders shipped quick and accurate.</p>
                                <p>I&nbsp;really enjoy the small animal puzzles as&nbsp;they only take 2-3 hours to&nbsp;complete. I&nbsp;will save the king size mysterious lion puzzle for the holidays when&nbsp;I have the time to&nbsp;enjoy&nbsp;it.</p>
                            </blockquote>
                        </div><button class="c-review__show-more" type="button">Show more</button>
                    </div>
                    <div class="c-review__author">
                        <div class="c-review__author-avatar"><img src="{{'redesign-reviews-author-7.jpg' | asset_url }}" width="64" height="64" alt="" /></div>
                        <div class="c-review__author-caption">
                            <div class="c-review__author-name">Lisa</div>
                            <div class="c-review__author-time">a week ago</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews__bottom">
                <div class="stars stars--green reviews__bottom-stars" title="4.3"><span class="stars__rating" style="width:86%"></span></div>
                <div class="reviews__bottom-excellent">Excellent 4.3</div>
                <div class="reviews__bottom-text">See our <a href="#"><b>120 reviews on&nbsp;Trustpilot</b></a></div>
            </div>
        </div>
    </section>

<script>
    var alireviews_page_type = "{{ template }}";
    var alireviews_collection_id = "{{ collection.id }}";
    var alireviews_theme_id = "{{ theme.id }}";
    {% assign alireviews_avg_order_value = 0 %}
    {% if customer.orders_count != 0 %}
        {% assign alireviews_avg_order_value = customer.total_spent  | divided_by: customer.orders_count | divided_by:100 %}
    {% endif %}
    var alireviews_avg_order_value = "{{ alireviews_avg_order_value }}";
    var alireviews_customer_id = "{{ customer.id }}";
    {% assign  alireviews_product_in_cart = "" | split: "" %}
    {% for item in cart.items %}
        {% assign alireviews_tmp_product_id = item.product_id | split: "_" %}
        {% assign alireviews_product_in_cart = alireviews_product_in_cart | concat: alireviews_tmp_product_id %}
    {% endfor %}
    {% assign alireviews_product_in_cart = alireviews_product_in_cart | join: "," %}
    var alireviews_product_in_cart = "{{ alireviews_product_in_cart }}";
    var alireviews_product_id = "{{ product.id }}";
    var alireviews_total_order_values = "{{customer.total_spent | divided_by:100 }}";
    {% assign alireviews_tags = customer.tags | join: "," %}
    var alireviews_tags = "{{ alireviews_tags }}";
    var alireviews_last_purchase = "{{ customer.last_order.created_at | date: "%Y-%m-%d %H:%M" }}";
</script>
<script src="https://ar.cdnhub.co/box/js/frontend/45/iframe.js?version=5.4.9" defer="defer"></script>
<script type="text/javascript">
function loadCSS() {
let head = document.getElementsByTagName("head")[0];
let link = document.createElement("link");
link.rel = "stylesheet";
link.type = "text/css";
link.href = "https://ar.cdnhub.co/box/css/frontend/45/vendor.css?version=5.4.9";
link.media = "all";
head.appendChild(link);
};
window.addEventListener("load", loadCSS(), false);
</script>

<script type="text/javascript"> 
const EL_IFRAME_AR = 'iframe[widget-id][class=aliReviewsFrame]:not([src])';
function renderIframe(iframes){
iframes.length && iframes.forEach((iframe, index) => {
let iframeSrc = iframe.getAttribute('data-ar-src') || iframe.getAttribute('data-src');
iframe.setAttribute('src', iframeSrc || '');
});
};
document.addEventListener("DOMContentLoaded", function () { 
let iframes = document.querySelectorAll(EL_IFRAME_AR);
renderIframe(iframes);
});
</script>



{% schema %}
  {
    "name": "Redesign Index Page",
    "settings": [
    {
        "type": "header",
        "content": "Rating Settings"
    },
    {
        "type": "range",
        "id": "star_size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Star Size",
        "default": 17
    },
    {
        "type": "range",
        "id": "star_text_font_size",
        "min": 10,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Star Text Font Size",
        "default": 16
    },
    {
        "type": "range",
        "id": "star_padding",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Star paddings",
        "default": 3
    },
    {
        "type": "range",
        "id": "star_text_padding",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "label": "Star Text paddings",
        "default": 10
    }
    ],
    "blocks": [
      {
          "name": "Product Bestsellers",
          "type": "ProductsBest",
          "settings": [
              {
                  "type": "product",
                  "id": "landing_best_product",
                  "label": "Product for section"
              }
          ]
      },
      {
          "name": "Popular collections",
          "type": "Collection",
          "settings": [
              {
                  "type": "collection",
                  "id": "landing_collection",
                  "label": "Collection for section"
              },
              {
                  "type": "product",
                  "id": "landing_product",
                  "label": "Product for section Collection"
              },
              {
                  "type": "image_picker",
                  "id": "image_collection",
                  "label": "Collection Image"
              }
          ]
      }
    ],
    "presets": [
      {
        "name": "Redesign Index Page"
      }
    ]
  }
{% endschema %}

<style>
    .arv-collection .alr-icon-star:before, #alireview-review-widget-badge .alr-icon-star:before {
        font-size: {{ section.settings.star_size }}px;
    }
    .arv-collection .alr-wrapper-rating .alr-rating-symbol:not(:last-child) {
        margin-right: {{section.settings.star_padding}}px!important;
    }
    span.alrv-prod-rating__text {
        padding-left: {{section.settings.star_text_padding}}px;
        font-size: {{ section.settings.star_text_font_size }}px;
    }
    @media only screen and (max-width: 861px) {
        .arv-collection .alr-icon-star:before, #alireview-review-widget-badge .alr-icon-star:before {
            font-size: 10px;
        }
        .arv-collection .alr-wrapper-rating .alr-rating-symbol:not(:last-child) {
            margin-right: {{section.settings.star_padding}}px!important;
        }
        span.alrv-prod-rating__text {
            padding-left: 2px;
            font-size: 10px;
        }
    }
</style>