<header class="header page__header">
    <div class="header__top">
        <div class="header__shipping">Domestic u.s shipping – 2-6 Days</div>
    </div>
    <div class="header__main"><button class="btn-menu header__btn-menu" type="button" aria-label="Меню"><span class="btn-menu__line"></span><span class="btn-menu__line"></span><span class="btn-menu__line"></span></button>
        <div class="logo header__logo"><a href="/"> <img loading="lazy" src="{{'redesign-logo.svg' | asset_url }}" alt="UNIDRAGON" /></a></div>
        {%- liquid
          case shop.locale
          when 'es'
          assign ulr_path = '/es/'
          when 'ar'
          assign ulr_path = '/ar/'
          when 'pt-PT'
          assign ulr_path = '/pt-pt/'
          when 'en'
          assign ulr_path = '/'
          endcase
          -%}
        <div class="lang header__lang"><button class="lang__toggle" type="button"><img loading="lazy" class="lang__toggle-icon" src="{{'redesign-flags-english.png' | asset_url }}" width="15" height="15" alt=""><span class="lang__toggle-caption">English</span></button>
            <div class="lang__dropdown">
                <ul class="lang__items">
                    <li class="lang__item{% if shop.locale == 'en'%} current{%endif%}"><a class="lang__item-link" href="//unidragon.com/{{ request.path | remove_first: ulr_path }}"><img loading="lazy" class="lang__item-icon" src="{{'redesign-flags-english.png' | asset_url }}" width="15" height="15" alt=""><span class="lang__item-caption">English</span></a></li>
                    <li class="lang__item{% if request.path contains '/es'%} current{%endif%}"><a class="lang__item-link" href="//unidragon.com/es/{{ request.path | remove_first: ulr_path }}"><img loading="lazy" class="lang__item-icon" src="{{'redesign-flags-es.png' | asset_url }}" width="15" height="15" alt=""><span class="lang__item-caption">Spanish</span></a></li>
                    <li class="lang__item{% if request.path contains '/ar'%} current{%endif%}"><a class="lang__item-link" href="//unidragon.com/ar/{{ request.path | remove_first: ulr_path }}"><img loading="lazy" class="lang__item-icon" src="{{'redesign-flags-ar.png' | asset_url }}" width="15" height="15" alt=""><span class="lang__item-caption">Arabic</span></a></li>
                    <li class="lang__item{% if request.path contains '/pt-'%} current{%endif%}"><a class="lang__item-link" href="//unidragon.com/pt-pt/{{ request.path | remove_first: ulr_path }}"><img loading="lazy" class="lang__item-icon" src="{{'redesign-flags-pt.png' | asset_url }}" width="15" height="15" alt=""><span class="lang__item-caption">Portuguese</span></a></li>
                </ul>
            </div>
        </div>
<style>
    .ly-switcher-wrapper.ly-breakpoint-1.fixed.top_left {display: none !important;;}
</style>
        
        <a class="header__mob-cart" href="/cart"><svg class="svg-icon svg-icon--cart header__mob-cart-icon">
                <use xlink:href="#cart"></use>
            </svg><span class="header__mob-cart-quantity">0</span></a>
    </div>
    <div class="header__nav">
        <div class="header__nav-container">
            <div class="search header__search"><button class="search__toggle" type="button"><svg class="svg-icon svg-icon--search">
                        <use xlink:href="#search"></use>
                    </svg></button>
                <div class="search__dropdown">
                    <form class="search__form" action="#" method="POST" id="form-search">
                        <div class="field field--type-text field--search search__field"><label class="field__label visually-hidden" for="form-search-q">Search all products...</label>
                            <div class="field__field"><input type="text" name="q" placeholder="Search all products..." id="form-search-q" /></div>
                        </div><button class="search__submit" type="submit"><svg class="svg-icon svg-icon--search">
                                <use xlink:href="#search"></use>
                            </svg></button>
                    </form>
                </div>
            </div>
            <nav class="menu header__menu">
                <ul class="menu__items">
                    <li class="menu__item menu__item--all"><a class="menu__link" href="/collections">All collections</a></li>
                    <li class="menu__item menu__item--submenu"><a class="menu__link" href="#">Wooden Puzzles</a>
                        <div class="menu__submenu">
                            <div class="menu__submenu-menu"><button class="menu__btn-back" type="button">Back</button>
                                <ul class="menu__subitems">
                                    <li class="menu__subitem"><a class="menu__sublink" href="/collections/wooden-puzzles">Animals</a></li>
                                    <li class="menu__subitem"><a class="menu__sublink" href="/products/quezzle">Quezzle</a></li>
                                    <li class="menu__subitem"><a class="menu__sublink" href="/collections/mandala-puzzles">Mandala</a></li>
                                    <li class="menu__subitem"><a class="menu__sublink" href="/collections/nature-puzzles">Nature</a></li>
                                    <li class="menu__subitem"><a class="menu__sublink" href="/collections/dino-collection">Kids Puzzles</a></li>
                                    <li class="menu__subitem"><a class="menu__sublink" href="/products/set-for-mounting-puzzles">Mounting System</a></li>
                                </ul>
                            </div>
                            <div class="menu__submenu-main">
                                <div class="menu__submenu-title">Top Collections</div>
                                <div class="menu__cards"><a class="menu__card" href="/collections/wooden-puzzles">
                                        <div class="menu__card-image"><img loading="lazy" src="{{'redesign-menu-product-1.jpg' | asset_url }}" width="170" height="170" alt="" /></div>
                                        <div class="menu__card-caption">Animals</div>
                                    </a><a class="menu__card" href="/products/quezzle">
                                        <div class="menu__card-image"><img loading="lazy" src="{{'redesign-menu-product-2.jpg' | asset_url }}" width="170" height="170" alt="" /></div>
                                        <div class="menu__card-caption">Quezzle</div>
                                    </a><a class="menu__card" href="/collections/mandala-puzzles">
                                        <div class="menu__card-image"><img loading="lazy" src="{{'redesign-menu-product-3.jpg' | asset_url }}" width="170" height="170" alt="" /></div>
                                        <div class="menu__card-caption">Mandala</div>
                                    </a></div>
                                <div class="menu__submenu-title">Bestsellers</div>
                                <div class="menu__cards"><a class="menu__card" href="/products/lovely-tiger">
                                        <div class="menu__card-image"><img loading="lazy" src="{{'redesign-menu-product-4.jpg' | asset_url }}" width="170" height="170" alt="" /></div>
                                        <div class="menu__card-caption">Lovely tiger</div>
                                        <div class="menu__card-label">Bestseller</div>
                                    </a><a class="menu__card" href="/products/enchanting-owl">
                                        <div class="menu__card-image"><img loading="lazy" src="{{'redesign-menu-product-5.jpg' | asset_url }}" width="170" height="170" alt="" /></div>
                                        <div class="menu__card-caption">Charming owl</div>
                                        <div class="menu__card-label">Bestseller</div>
                                    </a><a class="menu__card" href="/products/pre-order-majestic-wolf">
                                        <div class="menu__card-image"><img loading="lazy" src="{{'redesign-menu-product-6.jpg' | asset_url }}" width="170" height="170" alt="" /></div>
                                        <div class="menu__card-caption">Majestic wolf</div>
                                        <div class="menu__card-label">Bestseller</div>
                                    </a></div>
                            </div>
                            <div class="menu__submenu-banners"><a class="menu__banner" href="/pages/promotions">
                                    <div class="menu__banner-image"><img loading="lazy" src="{{'redesign-menu-banner.jpg' | asset_url }}" alt="" /></div>
                                    <div class="menu__banner-content">
                                        <div class="menu__banner-text">Buy any 3 Jigsaw puzzles and get</div>
                                        <div class="menu__banner-offer"><span class="menu__banner-value">10%</span> Discount</div>
                                    </div>
                                </a><a class="menu__mob-banner" href="/pages/promotions"><img loading="lazy" src="{{'redesign-menu-mob-banner-1.jpg' | asset_url }}" alt="" />
                                    <div class="menu__mob-banner-caption">10% Discount</div>
                                </a><a class="menu__mob-banner" href="/products/set-for-mounting-puzzles"><img loading="lazy" src="{{'redesign-menu-mob-banner-2.jpg' | asset_url }}" alt="" />
                                    <div class="menu__mob-banner-caption">Set for mounting puzzles</div>
                                </a></div>
                        </div>
                    </li>
                    <li class="menu__item"><a class="menu__link" href="/collections/world_map_puzzles">World Map Puzzles</a></li>
                    <li class="menu__item"><a class="menu__link" href="/products/quezzle">Quezzle</a></li>
                    <li class="menu__item"><a class="menu__link" href="/collections/mandala-puzzles">MANDALA</a></li>
                </ul>
            </nav>
            <nav class="menu-service header__menu-service">
                <ul class="menu-service__items">
                    <li class="menu-service__item"><a class="menu-service__link" href="/pages/shipping">Shipping</a></li>
                    <li class="menu-service__item"><a class="menu-service__link" href="/pages/about-us">About us</a></li>
                    <li class="menu-service__item"><a class="menu-service__link" href="/pages/contact-us">Contact us</a></li>
                    <li class="menu-service__item"><a class="menu-service__link" href="/pages/corporative-gifts">Corporate gifts</a></li>
                </ul>
            </nav>
            <div class="header__nav-bottom"><a class="header__email" href="mailto:care@unidragon.com"><span class="header__email-icon"><svg class="svg-icon svg-icon--mail">
                            <use xlink:href="#mail"></use>
                        </svg></span><span class="header__email-caption">care@unidragon.com</span></a>
                <div class="header__social"><a class="header__btn-social" href="https://www.facebook.com/Unidragon.World" target="_blank" rel="nofollow noopener"><svg class="svg-icon svg-icon--facebook">
                            <use xlink:href="#facebook"></use>
                        </svg></a><a class="header__btn-social" href="https://instagram.com/unidragon_com" target="_blank" rel="nofollow noopener"><svg class="svg-icon svg-icon--instagram">
                            <use xlink:href="#instagram"></use>
                        </svg></a></div><a class="header__sign-in" href="/account/login"><svg class="svg-icon svg-icon--user header__sign-in-icon">
                        <use xlink:href="#user"></use>
                    </svg><span class="header__sign-in-caption">Sign in</span></a>
            </div><a class="btn-cart header__btn-cart" href="/cart"><svg class="svg-icon svg-icon--cart btn-cart__icon">
                    <use xlink:href="#cart"></use>
                </svg>
                <div class="btn-cart__content">
                    <div class="btn-cart__items">{{ cart.item_count }} items</div>
                    <div class="btn-cart__total test-cart" id="CartCost" data-discount="{{discount_calc}}">{{cart.total_price | money }}</div>
                </div>
            </a>
        </div>
    </div>
</header>