<link rel="stylesheet" href="{{ 'style.min.css' | asset_url }}" />
{% comment %}ly_code_replace_for_[ page.content ]_begin{% include 'ly-content' with page %}{{ ly_translation }}ly_code_replace_end{% endcomment %}

<div class="unidragon-fake">
    <section class="s-intro">
    <div class="s-intro__container">
    <div class="s-intro__content">
    <p class="s-intro__pretitle"><ly-as-19935163>Our jigsaw puzzles have taken over the whole world</ly-as-19935163></p>
    <h1 class="s-intro__title"><ly-as-19935164>Scam and Fakes</ly-as-19935164> <br /><ly-as-19935165>of Our Puzzles</ly-as-19935165></h1>
    <p class="s-intro__text"><ly-as-19935166>Our product and service quality is premium. It's been distributed to our customers over the years with no fuss, and one of the indicators of our success is that imitators and scammers have come in sight and are trying to copy the product. It rather flatters us but upsets customers</ly-as-19935166></p>
    <a class="button s-intro__button" href="#report-scam" role="button"><ly-as-19935167>Report a scam</ly-as-19935167></a></div>
    <figure class="s-intro__visual"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/1_1.png?v=1649931946" width="640" height="640" alt="" /></figure>
    </div>
    </section>
    <section class="s-why">
    <div class="s-why__container">
    <div class="s-why__main">
    <h2 class="title title--underline title--desktop-left s-why__title">Why are scammers harmful?</h2>
    <div class="s-why__text">
    <p class="s-why__text-lead">Even though an old saying goes, “Money does not smell,” none wants to lose money and gain negative experience. Legitimate e-commerce strives to get loyal clients by providing them with quality services and goods. However, scammers harm both businesses and customers by stealing information and tricking clients.</p>
    <p>In many cases, scammers create new sites and use images of goods from legitimate ones. Their aim is not to sell goods but simply steal money from your pocket. When buying online, a client transfers money and never receives the ordered goods. Then, they search for the images and description, find the source site of a legitimate e-business and leave a negative comment. Support or manager will definitely contact the client to get more details like tracking number or confirmation email/number, but that will only become proof of purchasing from a scammer. Unfortunately, both innocent sides suffer because of scammers as both of them lose trust, reputation, and money.</p>
    <div class="s-why__read-more"><a href="#">Read more</a></div>
    </div>
    <figure class="s-why__figure"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/s-why-screenshots.jpg" width="480" height="600" alt="" /></figure>
    <div class="s-why__money"><svg class="svg-icon svg-icon--money" viewbox="0 0 80 80"> <path d="M51.9 20.1h-2c.3-.6.5-1.3.5-2.1v-6.3c0-2.3-1.9-4.2-4.2-4.2h-37C6.9 7.5 5 9.4 5 11.7V18c0 2.3 1.9 4.2 4.2 4.2h2c-.3.6-.5 1.3-.5 2.1v6.3c0 .8.2 1.5.5 2.1h-2c-2.3 0-4.2 1.9-4.2 4.2v6.3c0 1.8 1.2 3.4 2.8 3.9-.4.7-.7 1.5-.7 2.3v6.3c0 .9.3 1.6.7 2.3-1.6.6-2.8 2.2-2.8 4v6.3c0 2.3 1.9 4.2 4.2 4.2h31.9c.6 0 1-.5 1-1.1 0-.6-.5-1.1-1-1.1H9.2c-1.1 0-2.1-.9-2.1-2.1V62c0-1.1.9-2.1 2.1-2.1h20.3c.6 0 1-.5 1-1.1 0-.6-.5-1.1-1-1.1H11.2c-1.1 0-2.1-.9-2.1-2.1v-6.3c0-1.1.9-2.1 2.1-2.1h16.2c.6 0 1-.5 1-1.1s-.5-1.1-1-1.1H9.2c-1.1 0-2.1-.9-2.1-2.1v-6.3c0-1.1.9-2.1 2.1-2.1h24.3c.6 0 1-.5 1-1.1s-.5-1.1-1-1.1H14.7c-1.1 0-2.1-.9-2.1-2.1v-6.3c0-1.1.9-2.1 2.1-2.1h37.2c1.1 0 2.1.9 2.1 2.1V25c0 .6.5 1.1 1 1.1s1-.5 1-1.1v-.8c.1-2.2-1.8-4.1-4.1-4.1zM48.4 18c0 1.1-.9 2.1-2.1 2.1H9.2c-1.1 0-2.1-.9-2.1-2.1v-6.3c0-1.1.9-2.1 2.1-2.1h37.2c1.1 0 2.1.9 2.1 2.1l-.1 6.3z"></path><path d="M64.7 30.4c-.5-.3-1.1-.2-1.4.3-.3.5-.2 1.1.3 1.5 5.9 3.9 9.4 10.4 9.4 17.4 0 11.5-9.3 20.8-20.7 20.8-11.4 0-20.7-9.3-20.7-20.8s9.3-20.8 20.7-20.8c3 0 5.9.6 8.6 1.9.5.2 1.1 0 1.4-.5.2-.5 0-1.2-.5-1.4-3-1.4-6.1-2.1-9.4-2.1-12.5 0-22.8 10.3-22.8 22.9s10.2 22.9 22.8 22.9S75 62.2 75 49.6c0-7.8-3.9-14.9-10.3-19.2z"></path><path d="M63.8 37.9c-3.1-3.1-7.2-4.8-11.6-4.8s-8.5 1.7-11.6 4.8c-4.1 4.2-5.8 10.3-4.2 16 .2.6.7.9 1.3.7.6-.2.9-.7.7-1.3-1.3-5 .1-10.3 3.7-13.9 2.7-2.7 6.3-4.2 10.1-4.2s7.4 1.5 10.1 4.2c5.6 5.6 5.6 14.7 0 20.4-5.6 5.6-14.7 5.6-20.2 0-1-1-1.8-2.2-2.5-3.4-.3-.5-.9-.7-1.4-.4-.5.3-.7.9-.4 1.4.8 1.4 1.7 2.7 2.9 3.9 3.2 3.2 7.4 4.8 11.6 4.8s8.4-1.6 11.6-4.8c6.3-6.5 6.3-16.9-.1-23.4z"></path><path d="M53.3 48.6v-5.8c1.5.4 2.6 1.5 2.6 2.8 0 .6.5 1.1 1 1.1.6 0 1-.5 1-1.1 0-2.5-2-4.5-4.7-4.9v-.6c0-.6-.5-1.1-1-1.1-.6 0-1 .5-1 1.1v.6c-2.7.4-4.7 2.5-4.7 4.9s2 4.5 4.7 4.9v5.8c-1.5-.4-2.6-1.5-2.6-2.8 0-.6-.5-1.1-1-1.1-.6 0-1 .5-1 1.1 0 2.5 2 4.5 4.7 4.9v.6c0 .6.5 1.1 1 1.1.6 0 1-.5 1-1.1v-.6C56 58.1 58 56 58 53.6s-2-4.5-4.7-5zm-2.1-.2c-1.5-.4-2.6-1.5-2.6-2.8s1.1-2.4 2.6-2.8v5.6zm2.1 8v-5.6c1.5.4 2.6 1.5 2.6 2.8 0 1.3-1.1 2.4-2.6 2.8z"></path> </svg>
    <p class="s-why__money-text">Money spent; goods undelivered</p>
    </div>
    </div>
    <ul class="s-why__items">
    <li class="s-why__item"><svg class="svg-icon svg-icon--online-store s-why__item-icon" viewbox="0 0 80 80"> <path d="M73.5 12H53.6c-.7-.7-1.5-1.3-2.3-1.9-.5-.3-1.2-.2-1.5.3-.3.5-.2 1.2.3 1.5 4.9 3.4 7.7 8.9 7.7 14.8 0 9.9-8.1 18-17.9 18-9.9 0-17.9-8.1-17.9-18s8.1-18 17.9-18c2 0 3.9.3 5.7.9.6.2 1.2-.1 1.4-.7.2-.6-.1-1.2-.7-1.4-2.1-.7-4.2-1.1-6.4-1.1-11.1 0-20.1 9.1-20.1 20.2s9 20.2 20.1 20.2S60 37.8 60 26.7c0-4.6-1.6-9-4.3-12.5h17.8c1 0 1.8.8 1.8 1.8v34.7h-8.7c-.6 0-1.1.5-1.1 1.1s.5 1.1 1.1 1.1h8.7v5.8c0 1-.8 1.8-1.8 1.8h-67c-1 0-1.8-.8-1.8-1.8v-5.8h56.4c.6 0 1.1-.5 1.1-1.1s-.5-1.1-1.1-1.1H4.7V16c0-1 .8-1.8 1.8-1.8h13.1c.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1H6.5c-2.2 0-4 1.8-4 4v42.7c0 2.2 1.8 4 4 4h24.1v8.6h-3.3c-.6 0-1.1.5-1.1 1.1s.5 1.1 1.1 1.1h25.1c.6 0 1.1-.5 1.1-1.1s-.5-1.1-1.1-1.1h-3.3v-8.6h24.4c2.2 0 4-1.8 4-4V16c0-2.2-1.8-4-4-4zM46.9 71.3H32.8v-8.6h14.1v8.6z"></path><path d="M32 17.9c-.2-1.2-1.3-2.1-2.6-2.1h-1.2c-.6 0-1.1.5-1.1 1.1 0 .6.5 1.1 1.1 1.1h1.2c.2 0 .4.1.4.4l3.3 17.3c.1.5.6.9 1.1.9h.8c-.3.4-.5.8-.5 1.4 0 1.1.9 2.1 2.1 2.1s2.1-.9 2.1-2.1c0-.5-.2-1-.5-1.4h4.5c-.3.4-.5.8-.5 1.4 0 1.1.9 2.1 2.1 2.1 1.1 0 2.1-.9 2.1-2.1 0-.5-.2-1-.5-1.4h1c.6 0 1.1-.5 1.1-1.1s-.5-1.1-1.1-1.1H35.1l-.4-2.4H47c.5 0 1-.4 1.1-.9l2-10.3c.1-.4 0-.8-.3-1.1-.3-.3-.6-.5-1-.5H32.3l-.3-1.3zm1.7 8.7h3l.2 3.1h-2.6l-.6-3.1zm7.8 0l-.2 3.1h-2.2l-.2-3.1h2.6zm-2.8-2.2l-.2-3.1h3.4l-.2 3.1h-3zm4.8 5.3l.2-3.1h2.9l-.6 3.1h-2.5zm3.5-5.3h-3.2l.2-3.1h3.5l-.5 3.1zm-10.7-3.1l.2 3.1h-3.3l-.6-3.1h3.7zM9.7 42.8h6.5c.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1H9.7c-.6 0-1.1.5-1.1 1.1 0 .6.4 1.1 1.1 1.1zm0 5h12.1c.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1H9.7c-.6 0-1.1.5-1.1 1.1 0 .6.4 1.1 1.1 1.1zm58-29.5c-.6 0-1.1.5-1.1 1.1v2.8h-2.7c-.6 0-1.1.5-1.1 1.1s.5 1.1 1.1 1.1h2.7v2.8c0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1v-2.8h2.7c.6 0 1.1-.5 1.1-1.1s-.5-1.1-1.1-1.1h-2.7v-2.8c0-.6-.5-1.1-1.1-1.1z"></path> </svg>
    <h3 class="s-why__item-title">Real goods on fake sites</h3>
    <p class="s-why__item-text">The goods and descriptions from legitimate sites are stolen to make the fake one look real</p>
    </li>
    <li class="s-why__item"><svg class="svg-icon svg-icon--discounts s-why__item-icon" viewbox="0 0 80 80"> <path d="M16.4 56.6c.2.2.5.3.8.3.3 0 .6-.1.8-.3L31 44c.5-.4.4-1.1 0-1.6-.5-.4-1.2-.4-1.7 0L16.4 55c-.5.5-.5 1.2 0 1.6zm2.9-9.5c.5.2 1 .3 1.4.3.7 0 1.4-.2 2-.5 1.1-.5 1.9-1.4 2.4-2.5 1-2.3-.1-4.9-2.3-5.7-2.2-.9-4.8.3-5.8 2.7-.5 1.1-.5 2.3-.1 3.4.5 1.1 1.3 1.9 2.4 2.3zm-.1-4.9c.4-1 1.3-1.6 2.2-1.6.2 0 .4 0 .6.1 1 .4 1.5 1.7 1 2.9-.3.6-.7 1.1-1.3 1.4-.5.3-1 .3-1.5.1-.5-.2-.8-.5-1-1.1-.2-.6-.2-1.2 0-1.8zm8.5 10c-1.1-.4-2.3-.3-3.5.2-1.1.5-1.9 1.4-2.4 2.5-1 2.3.1 4.9 2.3 5.7.5.2.9.3 1.4.3 1.8 0 3.6-1.2 4.4-3 .5-1.1.5-2.3.1-3.4s-1.2-1.9-2.3-2.3zm.1 4.9c-.5 1.2-1.8 1.9-2.8 1.5-1-.4-1.5-1.7-1-2.9.3-.6.7-1.1 1.3-1.4.3-.2.6-.2.9-.2.2 0 .4 0 .6.1.5.2.8.5 1 1.1.3.5.2 1.2 0 1.8zm31.8-15.7l-3 17.2c-.1.6.3 1.2 1 1.3h.2c.6 0 1.1-.4 1.2-.9l3-17.2c.1-.6-.3-1.2-1-1.3-.7-.1-1.3.3-1.4.9zm-2.3 3.8c-.3-1.2-1-2.2-2-2.8-1-.7-2.2-.9-3.4-.7-2.3.5-3.7 3-3.1 5.4.3 1.2 1 2.2 2 2.8.8.5 1.6.8 2.5.8.3 0 .6 0 .9-.1 1.2-.3 2.1-1 2.7-2.1.6-1 .7-2.2.4-3.3zm-2.5 2.3c-.3.5-.7.8-1.2.9-.5.1-1 0-1.5-.3-.5-.4-.9-.9-1.1-1.5-.3-1.3.3-2.5 1.4-2.7h.4c.4 0 .8.1 1.1.4.5.4.9.9 1.1 1.5.2.6.1 1.2-.2 1.7zm6.3 8.2c.5 2.1 2.4 3.6 4.5 3.6.3 0 .6 0 .9-.1 2.3-.5 3.7-3 3.1-5.4-.6-2.4-3-4-5.4-3.5-1.2.3-2.1 1-2.7 2.1-.6.9-.7 2.1-.4 3.3zm2.4-2.4c.3-.5.7-.8 1.2-.9h.4c1 0 1.9.8 2.2 1.9.3 1.3-.3 2.5-1.4 2.7-1.1.2-2.2-.6-2.6-1.9-.1-.6-.1-1.2.2-1.8z"></path><path d="M79.9 67.4l-11-42.5c-.3-1.1-1.1-2.1-2.2-2.7l-2.3-1.1c-.6-.3-1.3-.1-1.6.5-.3.5-.1 1.2.5 1.5l2.3 1.1c.5.3.9.7 1 1.2l11 42.5c.3 1-.4 2-1.5 2.3l-22.4 5.1c-1.1.2-2.2-.4-2.4-1.4l-11-42.5c-.1-.5 0-1.1.3-1.5l8.9-11.7c.9 1.6 1.5 3.4 1.7 5.4l-.4.1c-.6.1-1 .7-.9 1.3.1.5.6.8 1.1.8h.3l2.6-.6c.6-.1 1-.7.9-1.3-.1-.6-.7-.9-1.3-.8-.2-1.9-.8-3.8-1.7-5.6.1 0 .2.1.3.1l7 3.4c.6.3 1.3.1 1.6-.5.3-.5.1-1.2-.5-1.5l-7-3.4c-.9-.4-1.9-.6-2.8-.4-.8-1.1-1.8-2.2-2.8-3.2-2.1-2-4.3-3.2-5.3-3.8V3.6c0-.6-.5-1.1-1.2-1.1s-1.2.5-1.2 1.1v4.8c-4.4 3-7.5 7.9-9.1 14.3-.2.9-.4 1.7-.5 2.5L21.6 22c-.8-.3-1.8-.3-2.6.1-.8.3-1.5 1-1.8 1.8L.2 64.7c-.7 1.6.2 3.5 1.9 4.1l8.1 3c.1.1.3.1.4.1.5 0 .9-.3 1.1-.7.2-.6-.1-1.2-.7-1.4l-8.1-3c-.5-.2-.8-.8-.6-1.3l17-40.8c.1-.2.3-.4.6-.6.3-.1.6-.1.8 0l9.2 3.4c-.1 1.1-.2 2-.2 2.7-.5 0-1 .2-1.2.7-.2.6.1 1.2.7 1.4l1.2.4 1.3.5c.1.1.3.1.4.1.5 0 .9-.3 1.1-.7.2-.6-.1-1.2-.7-1.4L32 31c0-.6 0-1.5.1-2.7l5.7 2.1c-.1.5-.1 1.1.1 1.6l2.8 10.9-13.1 31.8c-.2.5-.8.8-1.4.6l-10.8-3.9c-.6-.2-1.3.1-1.5.6-.2.6.1 1.2.7 1.4l10.8 3.9c.4.1.8.2 1.2.2 1.4 0 2.7-.8 3.2-2l12-28.9L49 74.4c.5 1.9 2.3 3.1 4.2 3.1.3 0 .7 0 1-.1l22.4-5.1c2.4-.5 3.8-2.7 3.3-4.9zM41.2 10.3c1.3.7 4.6 2.8 7.1 6l-.6.6L39 28.3 32.6 26c.8-4.9 2.9-11.7 8.6-15.7z"></path> </svg>
    <h3 class="s-why__item-title">Discounts and special offers</h3>
    <p class="s-why__item-text">Various discounts and special offers are used to stimulate purchases of vulnerable clients</p>
    </li>
    <li class="s-why__item"><svg class="svg-icon svg-icon--money s-why__item-icon" viewbox="0 0 80 80"> <path d="M51.9 20.1h-2c.3-.6.5-1.3.5-2.1v-6.3c0-2.3-1.9-4.2-4.2-4.2h-37C6.9 7.5 5 9.4 5 11.7V18c0 2.3 1.9 4.2 4.2 4.2h2c-.3.6-.5 1.3-.5 2.1v6.3c0 .8.2 1.5.5 2.1h-2c-2.3 0-4.2 1.9-4.2 4.2v6.3c0 1.8 1.2 3.4 2.8 3.9-.4.7-.7 1.5-.7 2.3v6.3c0 .9.3 1.6.7 2.3-1.6.6-2.8 2.2-2.8 4v6.3c0 2.3 1.9 4.2 4.2 4.2h31.9c.6 0 1-.5 1-1.1 0-.6-.5-1.1-1-1.1H9.2c-1.1 0-2.1-.9-2.1-2.1V62c0-1.1.9-2.1 2.1-2.1h20.3c.6 0 1-.5 1-1.1 0-.6-.5-1.1-1-1.1H11.2c-1.1 0-2.1-.9-2.1-2.1v-6.3c0-1.1.9-2.1 2.1-2.1h16.2c.6 0 1-.5 1-1.1s-.5-1.1-1-1.1H9.2c-1.1 0-2.1-.9-2.1-2.1v-6.3c0-1.1.9-2.1 2.1-2.1h24.3c.6 0 1-.5 1-1.1s-.5-1.1-1-1.1H14.7c-1.1 0-2.1-.9-2.1-2.1v-6.3c0-1.1.9-2.1 2.1-2.1h37.2c1.1 0 2.1.9 2.1 2.1V25c0 .6.5 1.1 1 1.1s1-.5 1-1.1v-.8c.1-2.2-1.8-4.1-4.1-4.1zM48.4 18c0 1.1-.9 2.1-2.1 2.1H9.2c-1.1 0-2.1-.9-2.1-2.1v-6.3c0-1.1.9-2.1 2.1-2.1h37.2c1.1 0 2.1.9 2.1 2.1l-.1 6.3z"></path><path d="M64.7 30.4c-.5-.3-1.1-.2-1.4.3-.3.5-.2 1.1.3 1.5 5.9 3.9 9.4 10.4 9.4 17.4 0 11.5-9.3 20.8-20.7 20.8-11.4 0-20.7-9.3-20.7-20.8s9.3-20.8 20.7-20.8c3 0 5.9.6 8.6 1.9.5.2 1.1 0 1.4-.5.2-.5 0-1.2-.5-1.4-3-1.4-6.1-2.1-9.4-2.1-12.5 0-22.8 10.3-22.8 22.9s10.2 22.9 22.8 22.9S75 62.2 75 49.6c0-7.8-3.9-14.9-10.3-19.2z"></path><path d="M63.8 37.9c-3.1-3.1-7.2-4.8-11.6-4.8s-8.5 1.7-11.6 4.8c-4.1 4.2-5.8 10.3-4.2 16 .2.6.7.9 1.3.7.6-.2.9-.7.7-1.3-1.3-5 .1-10.3 3.7-13.9 2.7-2.7 6.3-4.2 10.1-4.2s7.4 1.5 10.1 4.2c5.6 5.6 5.6 14.7 0 20.4-5.6 5.6-14.7 5.6-20.2 0-1-1-1.8-2.2-2.5-3.4-.3-.5-.9-.7-1.4-.4-.5.3-.7.9-.4 1.4.8 1.4 1.7 2.7 2.9 3.9 3.2 3.2 7.4 4.8 11.6 4.8s8.4-1.6 11.6-4.8c6.3-6.5 6.3-16.9-.1-23.4z"></path><path d="M53.3 48.6v-5.8c1.5.4 2.6 1.5 2.6 2.8 0 .6.5 1.1 1 1.1.6 0 1-.5 1-1.1 0-2.5-2-4.5-4.7-4.9v-.6c0-.6-.5-1.1-1-1.1-.6 0-1 .5-1 1.1v.6c-2.7.4-4.7 2.5-4.7 4.9s2 4.5 4.7 4.9v5.8c-1.5-.4-2.6-1.5-2.6-2.8 0-.6-.5-1.1-1-1.1-.6 0-1 .5-1 1.1 0 2.5 2 4.5 4.7 4.9v.6c0 .6.5 1.1 1 1.1.6 0 1-.5 1-1.1v-.6C56 58.1 58 56 58 53.6s-2-4.5-4.7-5zm-2.1-.2c-1.5-.4-2.6-1.5-2.6-2.8s1.1-2.4 2.6-2.8v5.6zm2.1 8v-5.6c1.5.4 2.6 1.5 2.6 2.8 0 1.3-1.1 2.4-2.6 2.8z"></path> </svg>
    <h3 class="s-why__item-title">Scammed clients &amp; stolen money</h3>
    <p class="s-why__item-text">Scammers trick clients by getting their money, leaving them with unfulfilled expectations</p>
    </li>
    </ul>
    </div>
    </section>
    <section class="s-cheated">
    <div class="s-cheated__container">
    <h2 class="title s-cheated__title">Cheated Buyers</h2>
    <div class="s-cheated__items">
    <div class="s-cheated__item">
    <div class="s-cheated__card">
    <h3 class="s-cheated__author">Jamesw56</h3>
    <time class="s-cheated__date" datetime="2020-12-17">December 17, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>I have ordered from you before but recently saw your puzzle special for half price. When I ordered and paid I’m afraid it is a scam. I cannot get ant answers from them about my order. The company was supposed to be Trilium. Do you have any suggestions.</p>
    </blockquote>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/Scam_16.png?v=1615278910">See original review</a></div>
    </div>
    <div class="s-cheated__item">
    <div class="s-cheated__card">
    <h3 class="s-cheated__author">Tamara</h3>
    <time class="s-cheated__date" datetime="2020-12-25">December 25, 2020</time>
    <blockquote class="s-cheated__quote">
    <p style="word-break: break-word;">"Hello. I thought you should know that there is a company using your images https://www.creativecraft.shop/products?handler=wooden-jigsaw&amp;fbclid=IwAR0h5JM1txERYTtuX6lknK6SHj1Fc9PecV-nKW4SbTTgVrAzW6CatTFJ6Hk</p>
    <p>It popped up while I was playing a game and a few minutes later your site popped up. Theirs caught my eye because of the beauty and reasonableness of the prices. Luckily I kept the information for your site too. Your reviews are excellent. However the other site is probably a Chinese scam.</p>
    <p>I hate seeing people and businesses being robbed and in this instance I think you are.</p>
    <p>Good luck with your beautiful puzzles !"</p>
    </blockquote>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/Scam_15.jpg?v=1615279672">See original review</a>
    <div class="overlay js-overlay-modal"></div>
    </div>
    </div>
    <div class="s-cheated__item">
    <div class="s-cheated__card">
    <h3 class="s-cheated__author">Tamara</h3>
    <time class="s-cheated__date" datetime="2020-12-25">December 25, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>I’m attaching you event the receipt from PayPal, but I'm thinking that was a scam, because when I track the package, the website is down.</p>
    </blockquote>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/Scam_19r_ffc8ed99-3f0d-4b40-957a-9774db72b8b3.jpg?v=1615540037">See original review</a></div>
    </div>
    <div class="s-cheated__item">
    <div class="s-cheated__card">
    <h3 class="s-cheated__author">Jamesw56</h3>
    <time class="s-cheated__date" datetime="2020-12-17">December 17, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>"Hi there, I followed a link on Facebook back on December 2 to order puzzles that I thought would make nice gifts for friends. I used paypal and received the following receipt. The puzzles have not arrived. I’m just confirming that I will still be receiving the puzzles or if there is a way to cancel the order. Thank you<br /> Angela Dragt"</p>
    </blockquote>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/Scam_10.jpg?v=1615376486">See original review</a></div>
    </div>
    <div class="s-cheated__item">
    <div class="s-cheated__card">
    <h3 class="s-cheated__author">Tamara</h3>
    <time class="s-cheated__date" datetime="2020-12-25">December 25, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>"Hello. I love your puzzles. I recently purchased two new ones from www.creativecraft.shop (instead of Amazon) believing they were Unidragon puzzles because the images were identical. What we received were cheap knockoffs that were no where near the same quality. I thought you should know as I suspect they are stealing your designs. I will be attempting to return these puzzles, and if successful I hope to order the correct ones from you.</p>
    <p>Kind regards from Canada, and thanks for the beautiful puzzles,</p>
    <p>Sarah Gregory"</p>
    </blockquote>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/Scam_5.png?v=1615376611">See original review</a></div>
    </div>
    <div class="s-cheated__item">
    <div class="s-cheated__card">
    <h3 class="s-cheated__author">Jamesw56</h3>
    <time class="s-cheated__date" datetime="2020-12-17">December 17, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>"Dear Sir,</p>
    <p>I hope this email find you well.</p>
    <p>May I check if Joyily-US is one of your distributors? I placed an order to purchase 2 wooden jigsaw ( 1 fish , 1 fox) on 17 Aug 2020 for delivery to a UK address ( payment of US$ 65.52)</p>
    <p>I didn’t received any email to confirm this order nor do any email regarding shipping details or date. I have sent 4 emails to the person in charge ( see below) but never heard back. I suspect that Joyily- US is a fake Facebook webpage to sell your products which will lead to collateral damage to your reputation. There are so many weblink on Facebook now selling your jigsaw but they all under different sponsors with similar websites design. Are they ( or some of them) scam ? Would be great if you can help to clarify my doubt?</p>
    <p>I purchased these jigsaw as birthdays presents to my family and intend to come for repeat order if they are good quality but now am really freaking out and frustrated by this poor shopping experience.</p>
    <p>Joyily-US claimed to be an US based eCom company but my payment was settled with the following Chinese company which looks strange...</p>
    </blockquote>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/Scam_22_1_r_6a28a5cb-5ba1-4169-bff6-7781a6f8c098.jpg?v=1615540037">See original review</a></div>
    </div>
    <div class="s-cheated__item">
    <div class="s-cheated__card">
    <h3 class="s-cheated__author">Jamesw56</h3>
    <time class="s-cheated__date" datetime="2020-12-17">December 17, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>"Good afternoon,</p>
    <p>I found your product being sold by J-Jay-S-Shop.com (creative craft) however it's been a few weeks now and I've not had the product. I didnt know of you're websight to start with and wasnt aware that this was actually your product to start with either (obviously if I had known I would of come to you first). I was just wondering if you are affiliated with that website?</p>
    <p>Kind regards<br /> Dan"</p>
    </blockquote>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/Scam_1.jpg?v=1615376953">See original review</a></div>
    </div>
    </div>
    <div class="s-cheated__bottom">
    <p class="s-cheated__bottom-text">Be vigilant: buy products from original manufacturers' websites</p>
    <a class="button s-cheated__button" href="https://unidragon.com/collections/" role="button">Go to catalog</a></div>
    </div>
    <section class="s-imitators">
    <div class="s-imitators__container">
    <h2 class="title title--underline s-imitators__title">Imitators sell their products for less, but chances are you'll only get disappointment</h2>
    <p class="s-imitators__text">Reputation is not important to imitators, it is only important to sell the product «one time». They are maximally focused on profit and for this they reduce the cost of production, and, accordingly, its quality</p>
    <div class="s-imitators__items">
    <div class="s-imitators__item"><img class="s-imitators__item-img" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/s-imitators-1.jpg" width="437" height="291" alt="" />
    <div class="s-imitators__item-content">
    <div class="s-imitators__item-icon"><svg class="svg-icon svg-icon--question" viewbox="0 0 36 36"> <path d="M18 1C8.6 1 1 8.6 1 18s7.6 17 17 17 17-7.6 17-17S27.4 1 18 1zm0 26.9c-.8 0-1.4-.6-1.4-1.4s.6-1.4 1.4-1.4 1.4.6 1.4 1.4-.6 1.4-1.4 1.4zm2.2-9c-.5.2-.8.7-.8 1.3v.6c0 .8-.6 1.4-1.4 1.4s-1.4-.6-1.4-1.4v-.6c0-1.7 1-3.2 2.5-3.9 1.4-.7 2.5-2.4 2.5-3.3 0-2-1.6-3.5-3.5-3.5s-3.5 1.6-3.5 3.5c0 .8-.6 1.4-1.4 1.4s-1.4-.6-1.4-1.4c0-3.5 2.9-6.4 6.4-6.4s6.4 2.9 6.4 6.4c-.2 2-1.9 4.8-4.4 5.9z"></path> </svg></div>
    <h3 class="s-imitators__item-title">Imitators don't have their own production</h3>
    <p class="s-imitators__item-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
    {% comment %} <a class="button s-imitators__item-button button--black" href="#" role="button">See photos</a> {%endcomment%}</div>
    </div>
    <div class="s-imitators__item"><img class="s-imitators__item-img" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/s-imitators-2.jpg" width="437" height="291" alt="" />
    <div class="s-imitators__item-content">
    <div class="s-imitators__item-icon"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/unidragon.png" width="36" height="36" alt="" /></div>
    <h3 class="s-imitators__item-title">We have our own production with a quality control system</h3>
    <p class="s-imitators__item-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
    {% comment %}<a class="button s-imitators__item-button button--black" href="#" role="button">See photos</a> {%endcomment%}</div>
    </div>
    </div>
    {% comment %}
        <a class="b-video js-popup-video s-imitators__video" href="https://www.youtube.com/watch?v=Xec2wjl9Rjo"><img class="b-video__cover" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/b-video-cover.jpg" width="900" height="450" alt="" />
        <div class="b-video__overlay">
        <div class="b-video__overlay-content">
        <div class="b-video__icon"><svg class="svg-icon svg-icon--play" viewbox="0 0 14 14"> <path d="M12.8 5.8L5.4.8C5 .6 4.7.5 4.4.5c-.6 0-.9.4-.9 1.2v10.7c0 .7.3 1.2.9 1.2.3 0 .6-.1 1-.4l7.4-4.9c.5-.3.7-.7.7-1.2 0-.6-.3-1-.7-1.3z"></path> </svg></div>
        {%endcomment%}
    <div class="b-video__caption">We check every puzzle</div>
    </div>
    </section>
    </section>
    </div>
    <section class="s-lacks">
    <div class="s-lacks__container">
    <h2 class="title title--desktop-left s-lacks__title">Lack of quality control on copies results in</h2>
    <ol class="s-lacks__items">
    <li class="s-lacks__item">
    <div class="s-lacks__card">
    <h3 class="s-lacks__item-title">You may not be given <br />all the parts!</h3>
    <div class="s-lacks__item-text">
    <h3 class="s-cheated__author">Jamesw56</h3>
    <time class="s-cheated__date" datetime="2020-12-25">December 25, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>Missing pieces to puzzle and had duplicate pieces.</p>
    </blockquote>
    </div>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/2_255f7d01-c6d5-407a-8ef0-7e36aa43dac7.jpg?v=1615388690">See original review</a></div>
    </li>
    <li class="s-lacks__item">
    <div class="s-lacks__card">
    <h3 class="s-lacks__item-title">Parts may be smaller <br />than stated</h3>
    <div class="s-lacks__item-text">
    <h3 class="s-cheated__author">Tamara</h3>
    <time class="s-cheated__date" datetime="2020-12-17">December 17, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>Puzzle is only 3x2 inches big! Is not large in size like pictures portray! Not worth the price of a happy meal toy, let alone $25!!!</p>
    </blockquote>
    </div>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/48898c9c5f838c63dc408a59ab788899.jpg?v=1615389919">See original review</a></div>
    </li>
    <li class="s-lacks__item">
    <div class="s-lacks__card">
    <h3 class="s-lacks__item-title">Poor paint, surface and print create color distortion</h3>
    <div class="s-lacks__item-text">
    <h3 class="s-cheated__author">JP</h3>
    <time class="s-cheated__date" datetime="2020-11-20">November 20, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>I don’t usually reviews, but found this puzzle to be so disappointing. Besides brown on the white pieces, which has been referend to as burn marks by previous reviewers, the black paint comes off on the tips of your fingers as you handle the puzzle. I put it back in the box when I realized the black was coming off on my sleeve as I reached over the pieces. Next time I will pay the extra money for a good wooden puzzle.</p>
    </blockquote>
    </div>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/6b71a912a276531bfb8ba20e362abddc.jpg?v=1615391343">See original review</a></div>
    </li>
    <li class="s-lacks__item">
    <div class="s-lacks__card">
    <h3 class="s-lacks__item-title">Parts can be very delicate <br />and fragile</h3>
    <div class="s-lacks__item-text">
    <h3 class="s-cheated__author">JP</h3>
    <time class="s-cheated__date" datetime="2021-01-5">January 5, 2021</time>
    <blockquote class="s-cheated__quote">
    <p>Pieces were broken and when you picked up a plece it would break in your hand!!!</p>
    </blockquote>
    </div>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/0c3f6d44ffbe076492b6c0aa8449bf2f.jpg?v=1615391397">See original review</a></div>
    </li>
    <li class="s-lacks__item">
    <div class="s-lacks__card">
    <h3 class="s-lacks__item-title">You can get a puzzle even without a picture for a sample assembly - a «real» puzzle!</h3>
    <div class="s-lacks__item-text">
    <h3 class="s-cheated__author">Sogol</h3>
    <time class="s-cheated__date" datetime="2020-12-29">December 29, 2020</time>
    <blockquote class="s-cheated__quote">
    <p>Absolute garbage! The puzzle pieces came in a plastic bag with no picture. Once you connect the pieces together they don't stay together and keep moving, | can't believe that this puzzle passed the quality control and made it in the market!!!</p>
    </blockquote>
    </div>
    <a class="s-cheated__link" data-fancybox="" href="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/cb485a889dc84432e15808525efeee22.jpg?v=1615391802">See original review</a></div>
    </li>
    </ol>
    <div class="s-lacks__alert">
    <div class="s-lacks__alert-icon"><svg class="svg-icon svg-icon--exclamation" viewbox="0 0 32 32"> <path d="M16 1C7.7 1 1 7.7 1 16s6.7 15 15 15 15-6.7 15-15S24.3 1 16 1zm0 27.7C9 28.7 3.3 23 3.3 16 3.3 9 9 3.3 16 3.3 23 3.3 28.7 9 28.7 16c0 7-5.7 12.7-12.7 12.7z"></path><path d="M16 8.6c-.6 0-1.2.5-1.2 1.2v7.5c0 .6.5 1.2 1.2 1.2.6 0 1.2-.5 1.2-1.2V9.7c0-.6-.6-1.1-1.2-1.1z"></path><circle cx="16" cy="21.5" r="1.6"></circle> </svg></div>
    <p class="s-lacks__alert-text">If you don't see any reviews on a product like this one, you will most likely be the first to write about their disappointment. <br />Because these copycat sellers often create new accounts so that buyers do not see negative reviews.</p>
    </div>
    </div>
    </section>
    {%comment%}<section class="s-hq">
        <div class="s-hq__container">
        <h2 class="title title--underline title--desktop-left s-hq__title">Only a high-quality product will allow you to enjoy the process and the result!</h2>
        <p class="s-hq__text">Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure.</p>
        <a class="b-video b-video--light js-popup-video s-hq__video" href="https://www.youtube.com/watch?v=Th35hK84ruw"><img class="b-video__cover" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/b-video-cover-2.jpg" width="530" height="350" alt="">
        <div class="b-video__overlay">
        <div class="b-video__overlay-content">
        <div class="b-video__icon"><svg class="svg-icon svg-icon--play" viewbox="0 0 14 14"> <path d="M12.8 5.8L5.4.8C5 .6 4.7.5 4.4.5c-.6 0-.9.4-.9 1.2v10.7c0 .7.3 1.2.9 1.2.3 0 .6-.1 1-.4l7.4-4.9c.5-.3.7-.7.7-1.2 0-.6-.3-1-.7-1.3z"></path> </svg></div>
        </div>
        </div>
        </a><a class="button s-hq__button" href="#" role="button">Go to directory</a>
        </div>
        </section> {%endcomment%}
    <section class="s-imitators">
    <div class="s-imitators__container">
    <h2 class="title s-imitators__title">Imitators reduce the cost of not only products, but also packaging</h2>
    <div class="s-imitators__items">
    <div class="s-imitators__item"><img class="s-imitators__item-img" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/s-imitators-3.jpg" width="437" height="272" alt="" />
    <div class="s-imitators__item-content">
    <div class="s-imitators__item-icon"><svg class="svg-icon svg-icon--question" viewbox="0 0 36 36"> <path d="M18 1C8.6 1 1 8.6 1 18s7.6 17 17 17 17-7.6 17-17S27.4 1 18 1zm0 26.9c-.8 0-1.4-.6-1.4-1.4s.6-1.4 1.4-1.4 1.4.6 1.4 1.4-.6 1.4-1.4 1.4zm2.2-9c-.5.2-.8.7-.8 1.3v.6c0 .8-.6 1.4-1.4 1.4s-1.4-.6-1.4-1.4v-.6c0-1.7 1-3.2 2.5-3.9 1.4-.7 2.5-2.4 2.5-3.3 0-2-1.6-3.5-3.5-3.5s-3.5 1.6-3.5 3.5c0 .8-.6 1.4-1.4 1.4s-1.4-.6-1.4-1.4c0-3.5 2.9-6.4 6.4-6.4s6.4 2.9 6.4 6.4c-.2 2-1.9 4.8-4.4 5.9z"></path> </svg></div>
    <h3 class="s-imitators__item-title">Analogs are supplied in a package</h3>
    <p class="s-imitators__item-text">Due to lack of packaging and poor quality parts, counterfeits are often damaged during transportation</p>
    </div>
    </div>
    <div class="s-imitators__item"><img class="s-imitators__item-img" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/s-imitators-4.jpg" width="437" height="272" alt="" />
    <div class="s-imitators__item-content">
    <div class="s-imitators__item-icon"><img src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/unidragon.png" width="36" height="36" alt="" /></div>
    <h3 class="s-imitators__item-title">Our puzzles come in a wooden box</h3>
    <p class="s-imitators__item-text">Guaranteed exchange of goods in case of damage. A wooden box and quality delivery services will ensure the integrity and appearance</p>
    <a class="button s-imitators__item-button" href="/collections/" role="button">Make a gift</a></div>
    </div>
    </div>
    {%comment%}<!--<a class="b-video js-popup-video s-imitators__video" href="https://www.youtube.com/watch?v=kR4u50TVYBs"><img class="b-video__cover" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/b-video-cover.jpg" width="900" height="450" alt="" />
        <div class="b-video__overlay">
        <div class="b-video__overlay-content">
        <div class="b-video__icon"><svg class="svg-icon svg-icon--play" viewbox="0 0 14 14"> <path d="M12.8 5.8L5.4.8C5 .6 4.7.5 4.4.5c-.6 0-.9.4-.9 1.2v10.7c0 .7.3 1.2.9 1.2.3 0 .6-.1 1-.4l7.4-4.9c.5-.3.7-.7.7-1.2 0-.6-.3-1-.7-1.3z"></path> </svg></div>
        -->{%endcomment%}
    <div class="b-video__caption">You are not ashamed to present our Unidragon puzzles to yourself, relatives or friends!</div>
    </div>
    </section>
    <section class="s-hcs">
    <div class="s-hcs__container">
    <h2 class="title title--underline title--desktop-left s-hcs__title">I am responsible for taking care of our clients</h2>
    <p class="s-hcs__text">My task is to make you satisfied with the service, product, and delivery. We will help you with any questions related to the order, delivery, or product. Kindly text me, and I will be happy to solve any of your questions.</p>
    <img class="s-hcs__photo-mobile" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/s-hcs-photo_mobile.jpg" width="120" height="120" alt="Anastasia Loginova" /><img class="s-hcs__photo-desktop" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/s-hcs-photo_desktop.jpg" width="340" height="620" alt="Anastasia Loginova" /><img class="s-hcs__signature" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/t/13/assets/s-hcs-signature.png" width="128" height="44" alt="" />
    <p class="s-hcs__name">Anastasia Loginova</p>
    <p class="s-hcs__about">Head of Customer Service</p>
    </div>
    </section>
    <section class="s-contact">
    <div class="s-contact__container">
    <div class="s-contact__col">
    <h2 class="title title--underline title--desktop-left s-contact__title">We'd like to let you know that established customer service is available</h2>
    <p class="s-contact__text">So if you encounter any problems, don't hesitate to let us know as we will always find a solution</p>
    </div>
    <div><a name="report-scam"></a></div>
    <div class="s-contact__col">

        <div class="contact-form form-vertical field__field">
            {%- assign formId = 'ContactForm' -%}
            {% form 'contact', id: formId %}
              {% include 'form-status', form: form, form_id: formId %}
    
              <div class="grid grid--half-gutters">
                <div class="grid__item medium-up--one-half">
                  <label class="visually-hidden" for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
                  <input placeholder="Name" type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}" required="required" data-validator-required-message="This field is required" />
                </div>
                <div class="grid__item medium-up--one-half">
                  <label class="visually-hidden" for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
                  <input 
                    placeholder="E-mail" 
                    type="email"
                    id="{{ formId }}-email"
                    name="contact[email]"
                    autocorrect="off"
                    autocapitalize="off"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    aria-required="true"
                    {%- if form.errors contains 'email' -%}
                      class="input--error"
                      aria-invalid="true"
                      aria-describedby="{{ formId }}-email-error"
                    {%- endif -%}
                    >
                  {%- if form.errors contains 'email' -%}
                    <span id="{{ formId}}-email-error" class="input-error-message">
                      <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                      {% include 'icon-error' %}
                      <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                    </span>
                  {%- endif -%}
                </div>
              </div>
   
              <label class="visually-hidden" for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
              <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]" placeholder="Message" required="required" data-validator-required-message="This field is required">{% if form.body %}{{ form.body }}{% endif %}</textarea>
    
              <button type="submit" class="button b-form__submit button--black" value="{{ 'contact.form.submit' | t }}">Send message</button>
    
            {% endform %}
          </div>
{%comment%}
    <form class="b-form b-form--contact js-validate s-contact__form" action="#" method="POST" id="b-form-contact">
    <div class="field field--type-text b-form__field"><label class="field__label visually-hidden" for="b-form-contact-name">Name <span class="field__required">*</span></label>
    <div class="field__field"><input type="text" name="name" placeholder="Name" id="b-form-contact-name" required="required" data-validator-required-message="This field is required" /></div>
    </div>
    <div class="field field--type-email b-form__field"><label class="field__label visually-hidden" for="b-form-contact-email">E-mail <span class="field__required">*</span></label>
    <div class="field__field"><input type="email" name="email" placeholder="E-mail" id="b-form-contact-email" required="required" data-validator-required-message="This field is required" data-validator-email-message="This field requires a valid e-mail address" /></div>
    </div>
    <div class="field field--type-textarea b-form__field"><label class="field__label visually-hidden" for="b-form-contact-message">Message <span class="field__required">*</span></label>
    <div class="field__field"><textarea name="message" placeholder="Message" id="b-form-contact-message" required="required" data-validator-required-message="This field is required"></textarea></div>
    </div>
    <button class="button b-form__submit button--black" type="submit">Send message</button></form>{%endcomment%}
    </div>
    </div>
    </section>
    <section class="s-quality">
    <div class="s-quality__container">
    <h2 class="title title--underline s-quality__title">The $ 10 saved isn't worth your disappointment; <br />Quality product is guaranteed!</h2>
    <p class="s-quality__text">Buy original Unidragon jigsaw puzzles on our website and get only positive emotions!</p>
    <a class="button s-quality__button" href="https://unidragon.com/collections/" role="button">Go to catalog</a><img class="s-quality__visual" src="https://cdn.shopify.com/s/files/1/0291/1322/1168/files/unidragon-wooden-puzzle-jigsaw-puzzle-for-adult-fairy-bird-m-04_2_x650.jpg?v=1621490875" width="650" height="250" alt="" /></div>
    </section>

    <script src="{{ 'app.min.js' | asset_url }}"></script>